/* WYSIWYG PROFILE CSS */
.cke_chrome .cke_contents_ltr a.button { display: inline-block; padding: 2px 5px; color: #fff; background-color: #333; }
.cke_chrome .cke_contents_ltr .lead { font-size: 130%; line-height: 125%; }
.cke_chrome .cke_contents_ltr .hero { font-size: 200%; line-height: 125%; }
.cke_chrome .cke_contents_ltr .supersize { font-size: 250%; line-height: 125%; }
.cke_chrome .cke_contents_ltr h1, .cke_chrome .cke_contents_ltr h2, .cke_chrome .cke_contents_ltr h3, .cke_chrome .cke_contents_ltr h4, .cke_chrome .cke_contents_ltr h5, .cke_chrome .cke_contents_ltr h6 { font-weight: bold; }
.cke_chrome body { /* Font */ font-family: sans-serif, Arial, Verdana, "Trebuchet MS"; font-size: 12px; /* Text color */ color: #333; /* Remove the background color to make it transparent */ background-color: #fff; margin: 20px; }
.cke_chrome .cke_editable { font-size: 13px; line-height: 1.6em; }
.cke_chrome blockquote { font-style: italic; font-family: Georgia, Times, "Times New Roman", serif; padding: 2px 0; border-style: solid; border-color: #ccc; border-width: 0; }
.cke_chrome .cke_contents_ltr blockquote { padding-left: 20px; padding-right: 8px; border-left-width: 5px; }
.cke_chrome .cke_contents_rtl blockquote { padding-left: 8px; padding-right: 20px; border-right-width: 5px; }
.cke_chrome a { color: #0782C1; }
.cke_chrome ol, .cke_chrome ul, .cke_chrome dl { /* IE7: reset rtl list margin. (#7334) */ *margin-right: 0px; /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/ padding: 0 40px; }
.cke_chrome h1, .cke_chrome h2, .cke_chrome h3, .cke_chrome h4, .cke_chrome h5, .cke_chrome h6 { font-weight: normal; line-height: 1.2em; }
.cke_chrome hr { border: 0px; border-top: 1px solid #ccc; }
.cke_chrome img.right { float: right; margin-left: 15px; padding: 5px; }
.cke_chrome img.left { float: left; margin-right: 15px; padding: 5px; }
.cke_chrome img:hover { opacity: .9; filter: alpha(opacity=90); }
.cke_chrome pre { white-space: pre-wrap; /* CSS 2.1 */ word-wrap: break-word; /* IE7 */ }
.cke_chrome .marker { background-color: Yellow; }
.cke_chrome table { border-collapse: collapse; border: none; border: 1px solid #ccc; }
.cke_chrome table tbody { border: none; }
.cke_chrome table tr.even td { background: #f9f9f9; }
.cke_chrome table td { padding: 8px; vertical-align: top; border: 1px solid #ccc; }
.cke_chrome table th { background: #ccc; border: 1px solid #ccc; border: none; padding: 8px; font-weight: bold; }
.cke_chrome table th a:link, .cke_chrome table th a:visited { color: #0082c3; }
.cke_chrome table caption { text-align: left; font-size: 180%; font-weight: normal; padding: 4px 0; }
.cke_chrome table.zebra tr:nth-child(even) td { background: #f3f3f3; }
.cke_chrome table.zebra tr:hover td { background: #e9f8ff; }
.cke_chrome table.table-condensed td, .cke_chrome table.table-condensed th, .cke_chrome div.table-condensed table td, .cke_chrome div.table-condensed table th { padding: 4px; }
.cke_chrome table.table-small, .cke_chrome div.table-small table { font-size: 80%; }
.cke_chrome table.table-small td, .cke_chrome table.table-small th, .cke_chrome div.table-small table td, .cke_chrome div.table-small table th { padding: 4px; }
.cke_chrome table.table-horizontal td, .cke_chrome div.table-horizontal table td { border-left: none; border-right: none; }
.cke_chrome table.table-vertical td, .cke_chrome div.table-vertical table td { border-top: none; border-bottom: none; }
