

#edit-fonts .form-type-radio {
  display: inline-block;
  margin-right: 10px;
}

/* Helvetica Light */
.font-h2-helvetica-light {
  h2 {
    font-weight:200;
  }
}
.font-h3-helvetica-light {
  h3 {
    font-weight:200;
  }
}
.font-h4-helvetica-light {
  h4 {
    font-weight:200;
  }
}
.font-h5-helvetica-light {
  h5 {
    font-weight:200;
  }
}
.font-h6-helvetica-light {
  h6 {
    font-weight:200;
  }
}
