#navbar-bar:before {
  padding:5px 10px;
  width:100%;
  display: block;
  float: none;
  font-weight:bold;
  font-size:10px;
  text-transform: uppercase;
}

.environment-test #navbar-bar:before {
  background:#ccc;
  content: "Test Environment";
  color:#000;
}

.environment-production #navbar-bar:before {
  background:#111;
  content: "Production Environment";
  color:#fff;
}
