[mysqld]
innodb_buffer_pool_size = 1G
innodb_log_file_size = 512M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 0
innodb_log_buffer_size = 16M
thread_cache_size = 16
query_cache_size = 64M
