/** Branding styles */
#print-header { display: none; }

.banner-white #header-wrapper { background: #fff; color: #202020; }
.banner-white #header-wrapper a:link, .banner-white #header-wrapper a:visited, .banner-white #header-wrapper a:hover { color: #202020; }
.banner-white #header-wrapper .menu-toggle button { color: #202020; border-color: rgba(128, 128, 128, 0.5); }
.banner-white #header-wrapper a.search-toggle:link, .banner-white #header-wrapper a.search-toggle:visited { color: #202020; }

.banner-light #header-wrapper { background: #EEEEEE; color: #202020; }
.banner-light #header-wrapper a:link, .banner-light #header-wrapper a:visited, .banner-light #header-wrapper a:hover { color: #202020; }
.banner-light #header-wrapper .menu-toggle button { color: #202020; border-color: rgba(128, 128, 128, 0.5); }
.banner-light #header-wrapper a.search-toggle:link, .banner-light #header-wrapper a.search-toggle:visited { color: #202020; }

.banner-dark #header-wrapper { background: #424242; color: #fff; }
.banner-dark #header-wrapper a:link, .banner-dark #header-wrapper a:visited, .banner-dark #header-wrapper a:hover { color: #fff; }
.banner-dark #header-wrapper .menu-toggle button { color: #fff; border-color: rgba(128, 128, 128, 0.5); }
.banner-dark #header-wrapper a.search-toggle:link, .banner-dark #header-wrapper a.search-toggle:visited { color: #fff; }

.banner-black #header-wrapper { background: #000; color: #fff; }
.banner-black #header-wrapper a:link, .banner-black #header-wrapper a:visited, .banner-black #header-wrapper a:hover { color: #fff; }
.banner-black #header-wrapper .menu-toggle button { color: #fff; border-color: rgba(128, 128, 128, 0.5); }
.banner-black #header-wrapper a.search-toggle:link, .banner-black #header-wrapper a.search-toggle:visited { color: #fff; }

#header-wrapper { padding: 20px 0; }

#branding { position: relative; }

#cu-footer { font-size: 90%; }
#cu-footer img { max-width: 240px; width: 100%; height: auto; display: block; }

/* NEW BRANDING */
.brand-bar { background: #000; color: #fff; padding: 10px 0px; }
.brand-bar a:link, .brand-bar a:visited { color: #fff; }
.brand-bar.brand-bar-color-white { background: #000; color: #fff; }
.brand-bar.brand-bar-color-white a:link, .brand-bar.brand-bar-color-white a:visited { color: #fff; }
.brand-bar.brand-bar-color-black { background: #fff; color: #000; }
.brand-bar.brand-bar-color-black a:link, .brand-bar.brand-bar-color-black a:visited { color: #000; }

.brand-bar-container { display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%; }
.brand-bar-container .brand-logo img { width: 100%; max-width: 200px; height: auto; display: block; }
@media screen and (min-width: 768px) { .brand-bar-container .brand-logo img { max-width: 240px; } }

.brand-color-white, .brand-bar-reverse, .brand-bar-dark, .brand-bar-black { color: #fff !important; }
.brand-color-white a:link, .brand-color-white a:visited, .brand-bar-reverse a:link, .brand-bar-reverse a:visited, .brand-bar-dark a:link, .brand-bar-dark a:visited, .brand-bar-black a:link, .brand-bar-black a:visited { color: #fff !important; }

#header-wrapper { background: #fff; color: #202020; }

header { position: relative; display: flex; align-items: center; }
header .site-name-wrapper { flex-grow: 1; font-size: 20px; padding-right: 40px; }
@media screen and (min-width: 768px) { header .site-name-wrapper { font-size: 30px; } }

.site-name { font-weight: 900; padding: 0; margin: 0; line-height: 1.1; }

.affiliation { text-transform: uppercase; font-size: 50%; padding-top: 5px; font-weight: bold; }
.banner-black #header-wrapper .affiliation, .banner-black #header-wrapper .affiliation a:link, .banner-black #header-wrapper .affiliation a:visited { color: #aaa; }
.banner-dark #header-wrapper .affiliation, .banner-dark #header-wrapper .affiliation a:link, .banner-dark #header-wrapper .affiliation a:visited { color: #9b9b9b; }
.banner-white #header-wrapper .affiliation, .banner-white #header-wrapper .affiliation a:link, .banner-white #header-wrapper .affiliation a:visited { color: #757575; }
.banner-light #header-wrapper .affiliation, .banner-light #header-wrapper .affiliation a:link, .banner-light #header-wrapper .affiliation a:visited { color: #6e6e6e; }

.layout-responsive .menu-toggle button { background: none; border: none; padding: 0; }

/* Custom Logo */
img.custom-logo { width: 100%; height: auto; display: block; }

.banner-white .custom-logo-black, .banner-light .custom-logo-black { display: block; }
.banner-white .custom-logo-white, .banner-light .custom-logo-white { display: none; }

.banner-black .custom-logo-white, .banner-dark .custom-logo-white { display: block; }
.banner-black .custom-logo-black, .banner-dark .custom-logo-black { display: none; }

#block-cu-site-info-site-info h2.block-title a { color: #cfb87c; text-decoration: none; }
#block-cu-site-info-site-info h2.block-title a:hover { color: #fff; }

#cu-footer a.cu-boulder-homepage-link { color: #cfb87c; text-decoration: none; }
#cu-footer a.cu-boulder-homepage-link:hover { color: #fff; }

/** Button styles */
a.button, .button { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; }

.button.button-blue, .buttons-color-blue a, .buttons-color-blue a.button { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #0277BD; color: #fff !important; }
.button.button-blue:hover, .button.button-blue:focus, .buttons-color-blue a:hover, .buttons-color-blue a:focus, .buttons-color-blue a.button:hover, .buttons-color-blue a.button:focus { background-color: #026dae; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button.button-blue:active, .buttons-color-blue a:active, .buttons-color-blue a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button.button-white, .buttons-color-white a, .buttons-color-white a.button { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #fff; color: #202020 !important; border: 1px solid #e0e0e0; }
.button.button-white:hover, .button.button-white:focus, .buttons-color-white a:hover, .buttons-color-white a:focus, .buttons-color-white a.button:hover, .buttons-color-white a.button:focus { background-color: #f7f7f7; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button.button-white:active, .buttons-color-white a:active, .buttons-color-white a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button.button-gray-dark, .buttons-color-gray-dark a, .buttons-color-gray-dark a.button { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #424242; color: #fff !important; }
.button.button-gray-dark:hover, .button.button-gray-dark:focus, .buttons-color-gray-dark a:hover, .buttons-color-gray-dark a:focus, .buttons-color-gray-dark a.button:hover, .buttons-color-gray-dark a.button:focus { background-color: #3a3a3a; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button.button-gray-dark:active, .buttons-color-gray-dark a:active, .buttons-color-gray-dark a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button.button-gray-light, .buttons-color-gray-light a, .buttons-color-gray-light a.button { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #EEEEEE; color: #202020 !important; }
.button.button-gray-light:hover, .button.button-gray-light:focus, .buttons-color-gray-light a:hover, .buttons-color-gray-light a:focus, .buttons-color-gray-light a.button:hover, .buttons-color-gray-light a.button:focus { background-color: #e6e6e6; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button.button-gray-light:active, .buttons-color-gray-light a:active, .buttons-color-gray-light a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button.button-gray, .buttons-color-gray a, .buttons-color-gray a.button { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #EEEEEE; color: #202020 !important; }
.button.button-gray:hover, .button.button-gray:focus, .buttons-color-gray a:hover, .buttons-color-gray a:focus, .buttons-color-gray a.button:hover, .buttons-color-gray a.button:focus { background-color: #e6e6e6; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button.button-gray:active, .buttons-color-gray a:active, .buttons-color-gray a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button.button-black, .buttons-color-black a, .buttons-color-black a.button { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #000; color: #fff !important; }
.button.button-black:hover, .button.button-black:focus, .buttons-color-black a:hover, .buttons-color-black a:focus, .buttons-color-black a.button:hover, .buttons-color-black a.button:focus { background-color: black; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button.button-black:active, .buttons-color-black a:active, .buttons-color-black a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button.button-gold, .buttons-color-gold a, .buttons-color-gold a.button { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #cfb87c; color: #202020 !important; }
.button.button-gold:hover, .button.button-gold:focus, .buttons-color-gold a:hover, .buttons-color-gold a:focus, .buttons-color-gold a.button:hover, .buttons-color-gold a.button:focus { background-color: #cbb271; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button.button-gold:active, .buttons-color-gold a:active, .buttons-color-gold a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button-large { font-size: 125%; padding: 10px; }

.button-small { font-size: 90%; padding: 1px 6px; }

.buttongroup { display: block; position: relative; overflow: hidden; }
.buttongroup a.button { display: block; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; text-align: center; font-weight: 500; }

@media screen and (min-width: 768px) { .buttongroup .button-group-content { display: table; table-layout: fixed; width: 100%; position: relative; }
  .buttongroup .button-group-content a.button { display: table-cell; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; text-align: center; vertical-align: middle; border-style: solid; position: relative; border: none; overflow: hidden; }
  .buttongroup .button-group-content a.button:after { bottom: 0; content: ""; left: 0; position: absolute; right: 0; top: 0; z-index: 0; -webkit-box-shadow: 0px 0 1px 0 rgba(0, 0, 0, 0.25) inset; box-shadow: 0px 0 1px 0 rgba(0, 0, 0, 0.25) inset; } }
.buttongroup-size-small { font-size: 85%; }
.buttongroup-size-small a.button { padding: 2px 5px; }

.buttongroup-size-large { font-size: 115%; }
.buttongroup-size-large a.button { padding: 20px; font-weight: bold; }

.button-group-color-blue { background-color: #01578b; }
.button-group-color-blue a.button { background-color: #0277BD; color: #fff !important; }
.button-group-color-blue a.button:hover, .button-group-color-blue a.button:focus { background-color: #026dae; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button-group-color-blue a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button-group-color-white { background-color: #e6e6e6; }
.button-group-color-white a.button { background-color: #fff; color: #202020 !important; border: 1px solid #e0e0e0; }
.button-group-color-white a.button:hover, .button-group-color-white a.button:focus { background-color: #f7f7f7; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button-group-color-white a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button-group-color-gray-dark { background-color: #292929; }
.button-group-color-gray-dark a.button { background-color: #424242; color: #fff !important; }
.button-group-color-gray-dark a.button:hover, .button-group-color-gray-dark a.button:focus { background-color: #3a3a3a; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button-group-color-gray-dark a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button-group-color-gray-light { background-color: #d5d5d5; }
.button-group-color-gray-light a.button { background-color: #EEEEEE; color: #202020 !important; }
.button-group-color-gray-light a.button:hover, .button-group-color-gray-light a.button:focus { background-color: #e6e6e6; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button-group-color-gray-light a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button-group-color-gray { background-color: #d5d5d5; }
.button-group-color-gray a.button { background-color: #EEEEEE; color: #202020 !important; }
.button-group-color-gray a.button:hover, .button-group-color-gray a.button:focus { background-color: #e6e6e6; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button-group-color-gray a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button-group-color-black { background-color: black; }
.button-group-color-black a.button { background-color: #000; color: #fff !important; }
.button-group-color-black a.button:hover, .button-group-color-black a.button:focus { background-color: black; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button-group-color-black a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button-group-color-gold { background-color: #c1a457; }
.button-group-color-gold a.button { background-color: #cfb87c; color: #202020 !important; }
.button-group-color-gold a.button:hover, .button-group-color-gold a.button:focus { background-color: #cbb271; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.button-group-color-gold a.button:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.cu-give-button-dark { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #424242; color: #fff !important; }
.cu-give-button-dark:hover, .cu-give-button-dark:focus { background-color: #3a3a3a; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.cu-give-button-dark:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.cu-give-button-light { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #EEEEEE; color: #202020 !important; }
.cu-give-button-light:hover, .cu-give-button-light:focus { background-color: #e6e6e6; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.cu-give-button-light:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.cu-give-button-gold { color: #fff; display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; transition: background-color 0.5s ease; margin-bottom: 5px; text-decoration: none !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); transition: -webkit-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: -moz-box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease; background-color: #cfb87c; color: #202020 !important; }
.cu-give-button-gold:hover, .cu-give-button-gold:focus { background-color: #cbb271; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
.cu-give-button-gold:active { -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35); }

.button-ghost { display: inline-block; padding: 5px 10px; font-weight: 500; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom: 5px; text-decoration: none; }

.button-ghost.button-ghost-blue, .buttons-color-outline-blue a, .buttons-color-outline-blue a.button { border: 1px solid #0277BD; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; color: #0277BD !important; text-decoration: none; background: rgba(255, 255, 255, 0.25); }
.button-ghost.button-ghost-blue:hover, .button-ghost.button-ghost-blue:active, .button-ghost.button-ghost-blue:focus, .buttons-color-outline-blue a:hover, .buttons-color-outline-blue a:active, .buttons-color-outline-blue a:focus, .buttons-color-outline-blue a.button:hover, .buttons-color-outline-blue a.button:active, .buttons-color-outline-blue a.button:focus { background: #0277BD; color: #fff !important; }

.button-ghost.button-ghost-white, .buttons-color-outline-white a, .buttons-color-outline-white a.button { border: 1px solid #fff; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; color: #fff !important; text-decoration: none; background: rgba(0, 0, 0, 0.25); }
.button-ghost.button-ghost-white:hover, .button-ghost.button-ghost-white:active, .button-ghost.button-ghost-white:focus, .buttons-color-outline-white a:hover, .buttons-color-outline-white a:active, .buttons-color-outline-white a:focus, .buttons-color-outline-white a.button:hover, .buttons-color-outline-white a.button:active, .buttons-color-outline-white a.button:focus { background: #fff; color: #202020 !important; }

.button-ghost.button-ghost-gray-dark, .buttons-color-outline-gray-dark a, .buttons-color-outline-gray-dark a.button { border: 1px solid #424242; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; color: #424242 !important; text-decoration: none; background: rgba(255, 255, 255, 0.25); }
.button-ghost.button-ghost-gray-dark:hover, .button-ghost.button-ghost-gray-dark:active, .button-ghost.button-ghost-gray-dark:focus, .buttons-color-outline-gray-dark a:hover, .buttons-color-outline-gray-dark a:active, .buttons-color-outline-gray-dark a:focus, .buttons-color-outline-gray-dark a.button:hover, .buttons-color-outline-gray-dark a.button:active, .buttons-color-outline-gray-dark a.button:focus { background: #424242; color: #fff !important; }

.button-ghost.button-ghost-gray-light, .buttons-color-outline-gray-light a, .buttons-color-outline-gray-light a.button { border: 1px solid #EEEEEE; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; color: #EEEEEE !important; text-decoration: none; background: rgba(0, 0, 0, 0.25); }
.button-ghost.button-ghost-gray-light:hover, .button-ghost.button-ghost-gray-light:active, .button-ghost.button-ghost-gray-light:focus, .buttons-color-outline-gray-light a:hover, .buttons-color-outline-gray-light a:active, .buttons-color-outline-gray-light a:focus, .buttons-color-outline-gray-light a.button:hover, .buttons-color-outline-gray-light a.button:active, .buttons-color-outline-gray-light a.button:focus { background: #EEEEEE; color: #202020 !important; }

.button-ghost.button-ghost-gray, .buttons-color-outline-gray a, .buttons-color-outline-gray a.button { border: 1px solid #EEEEEE; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; color: #EEEEEE !important; text-decoration: none; background: rgba(0, 0, 0, 0.25); }
.button-ghost.button-ghost-gray:hover, .button-ghost.button-ghost-gray:active, .button-ghost.button-ghost-gray:focus, .buttons-color-outline-gray a:hover, .buttons-color-outline-gray a:active, .buttons-color-outline-gray a:focus, .buttons-color-outline-gray a.button:hover, .buttons-color-outline-gray a.button:active, .buttons-color-outline-gray a.button:focus { background: #EEEEEE; color: #202020 !important; }

.button-ghost.button-ghost-black, .buttons-color-outline-black a, .buttons-color-outline-black a.button { border: 1px solid #000; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; color: #000 !important; text-decoration: none; background: rgba(255, 255, 255, 0.25); }
.button-ghost.button-ghost-black:hover, .button-ghost.button-ghost-black:active, .button-ghost.button-ghost-black:focus, .buttons-color-outline-black a:hover, .buttons-color-outline-black a:active, .buttons-color-outline-black a:focus, .buttons-color-outline-black a.button:hover, .buttons-color-outline-black a.button:active, .buttons-color-outline-black a.button:focus { background: #000; color: #fff !important; }

.button-ghost.button-ghost-gold, .buttons-color-outline-gold a, .buttons-color-outline-gold a.button { border: 1px solid #cfb87c; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; color: #cfb87c !important; text-decoration: none; background: rgba(0, 0, 0, 0.25); }
.button-ghost.button-ghost-gold:hover, .button-ghost.button-ghost-gold:active, .button-ghost.button-ghost-gold:focus, .buttons-color-outline-gold a:hover, .buttons-color-outline-gold a:active, .buttons-color-outline-gold a:focus, .buttons-color-outline-gold a.button:hover, .buttons-color-outline-gold a.button:active, .buttons-color-outline-gold a.button:focus { background: #cfb87c; color: #202020 !important; }

/** Color styles */
.background-white, .exbd-block.exbd-style-white { background-color: #fff; color: #202020; }
.background-white a:link, .background-white a:visited, .exbd-block.exbd-style-white a:link, .exbd-block.exbd-style-white a:visited { color: #0277BD; }
.background-white a:hover, .background-white a:active, .background-white a:focus, .exbd-block.exbd-style-white a:hover, .exbd-block.exbd-style-white a:active, .exbd-block.exbd-style-white a:focus { color: #B71C1C; }

.exbd-block.exbd-style-white { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-white { padding: 20px; } }
.exbd-block.exbd-style-white > *:last-child { margin-bottom: 0; }

.text-white { color: #fff !important; }

.background-black, .exbd-block.exbd-style-black { background-color: #000; color: #fff; }
.background-black a:link, .background-black a:visited, .exbd-block.exbd-style-black a:link, .exbd-block.exbd-style-black a:visited { color: #cfb87c; }
.background-black a:hover, .background-black a:active, .background-black a:focus, .exbd-block.exbd-style-black a:hover, .exbd-block.exbd-style-black a:active, .exbd-block.exbd-style-black a:focus { color: #fff; }

.exbd-block.exbd-style-black { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-black { padding: 20px; } }
.exbd-block.exbd-style-black > *:last-child { margin-bottom: 0; }

.text-black { color: #000 !important; }

.background-gray-dark, .exbd-block.exbd-style-gray-dark { background-color: #424242; color: #fff; }
.background-gray-dark a:link, .background-gray-dark a:visited, .exbd-block.exbd-style-gray-dark a:link, .exbd-block.exbd-style-gray-dark a:visited { color: #cfb87c; }
.background-gray-dark a:hover, .background-gray-dark a:active, .background-gray-dark a:focus, .exbd-block.exbd-style-gray-dark a:hover, .exbd-block.exbd-style-gray-dark a:active, .exbd-block.exbd-style-gray-dark a:focus { color: #fff; }

.exbd-block.exbd-style-gray-dark { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gray-dark { padding: 20px; } }
.exbd-block.exbd-style-gray-dark > *:last-child { margin-bottom: 0; }

.text-gray-dark { color: #424242 !important; }

.background-gray-light, .exbd-block.exbd-style-gray-light { background-color: #EEEEEE; color: #202020; }
.background-gray-light a:link, .background-gray-light a:visited, .exbd-block.exbd-style-gray-light a:link, .exbd-block.exbd-style-gray-light a:visited { color: #01578b; }
.background-gray-light a:hover, .background-gray-light a:active, .background-gray-light a:focus, .exbd-block.exbd-style-gray-light a:hover, .exbd-block.exbd-style-gray-light a:active, .exbd-block.exbd-style-gray-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-gray-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gray-light { padding: 20px; } }
.exbd-block.exbd-style-gray-light > *:last-child { margin-bottom: 0; }

.text-gray-light { color: #EEEEEE !important; }

.background-gray, .exbd-block.exbd-style-gray { background-color: #EEEEEE; color: #202020; }
.background-gray a:link, .background-gray a:visited, .exbd-block.exbd-style-gray a:link, .exbd-block.exbd-style-gray a:visited { color: #01578b; }
.background-gray a:hover, .background-gray a:active, .background-gray a:focus, .exbd-block.exbd-style-gray a:hover, .exbd-block.exbd-style-gray a:active, .exbd-block.exbd-style-gray a:focus { color: #B71C1C; }

.exbd-block.exbd-style-gray { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gray { padding: 20px; } }
.exbd-block.exbd-style-gray > *:last-child { margin-bottom: 0; }

.text-gray { color: #EEEEEE !important; }

.background-blue, .exbd-block.exbd-style-blue { background-color: #0277BD; color: #fff; }
.background-blue a:link, .background-blue a:visited, .exbd-block.exbd-style-blue a:link, .exbd-block.exbd-style-blue a:visited { color: #cfb87c; }
.background-blue a:hover, .background-blue a:active, .background-blue a:focus, .exbd-block.exbd-style-blue a:hover, .exbd-block.exbd-style-blue a:active, .exbd-block.exbd-style-blue a:focus { color: #fff; }

.exbd-block.exbd-style-blue { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-blue { padding: 20px; } }
.exbd-block.exbd-style-blue > *:last-child { margin-bottom: 0; }

.text-blue { color: #0277BD !important; }

.background-blue-medium, .exbd-block.exbd-style-blue-medium { background-color: #4FC3F7; color: #202020; }
.background-blue-medium a:link, .background-blue-medium a:visited, .exbd-block.exbd-style-blue-medium a:link, .exbd-block.exbd-style-blue-medium a:visited { color: #014771; }
.background-blue-medium a:hover, .background-blue-medium a:active, .background-blue-medium a:focus, .exbd-block.exbd-style-blue-medium a:hover, .exbd-block.exbd-style-blue-medium a:active, .exbd-block.exbd-style-blue-medium a:focus { color: #a11919; }

.exbd-block.exbd-style-blue-medium { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-blue-medium { padding: 20px; } }
.exbd-block.exbd-style-blue-medium > *:last-child { margin-bottom: 0; }

.text-blue-medium { color: #4FC3F7 !important; }

.background-blue-light, .exbd-block.exbd-style-blue-light { background-color: #E1F5FE; color: #202020; }
.background-blue-light a:link, .background-blue-light a:visited, .exbd-block.exbd-style-blue-light a:link, .exbd-block.exbd-style-blue-light a:visited { color: #01578b; }
.background-blue-light a:hover, .background-blue-light a:active, .background-blue-light a:focus, .exbd-block.exbd-style-blue-light a:hover, .exbd-block.exbd-style-blue-light a:active, .exbd-block.exbd-style-blue-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-blue-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-blue-light { padding: 20px; } }
.exbd-block.exbd-style-blue-light > *:last-child { margin-bottom: 0; }

.text-blue-light { color: #E1F5FE !important; }

.background-gold-light, .exbd-block.exbd-style-gold-light { background-color: #f1ebd9; color: #202020; }
.background-gold-light a:link, .background-gold-light a:visited, .exbd-block.exbd-style-gold-light a:link, .exbd-block.exbd-style-gold-light a:visited { color: #01578b; }
.background-gold-light a:hover, .background-gold-light a:active, .background-gold-light a:focus, .exbd-block.exbd-style-gold-light a:hover, .exbd-block.exbd-style-gold-light a:active, .exbd-block.exbd-style-gold-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-gold-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gold-light { padding: 20px; } }
.exbd-block.exbd-style-gold-light > *:last-child { margin-bottom: 0; }

.text-gold-light { color: #f1ebd9 !important; }

.background-green-light, .exbd-block.exbd-style-green-light { background-color: #DCEDC8; color: #202020; }
.background-green-light a:link, .background-green-light a:visited, .exbd-block.exbd-style-green-light a:link, .exbd-block.exbd-style-green-light a:visited { color: #01578b; }
.background-green-light a:hover, .background-green-light a:active, .background-green-light a:focus, .exbd-block.exbd-style-green-light a:hover, .exbd-block.exbd-style-green-light a:active, .exbd-block.exbd-style-green-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-green-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-green-light { padding: 20px; } }
.exbd-block.exbd-style-green-light > *:last-child { margin-bottom: 0; }

.text-green-light { color: #DCEDC8 !important; }

.background-brick, .exbd-block.exbd-style-brick { background-color: #ae5a39; color: #fff; }
.background-brick a:link, .background-brick a:visited, .exbd-block.exbd-style-brick a:link, .exbd-block.exbd-style-brick a:visited { color: #cfb87c; }
.background-brick a:hover, .background-brick a:active, .background-brick a:focus, .exbd-block.exbd-style-brick a:hover, .exbd-block.exbd-style-brick a:active, .exbd-block.exbd-style-brick a:focus { color: #fff; }

.exbd-block.exbd-style-brick { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-brick { padding: 20px; } }
.exbd-block.exbd-style-brick > *:last-child { margin-bottom: 0; }

.text-brick { color: #ae5a39 !important; }

.background-tan, .exbd-block.exbd-style-tan { background-color: #f1ebd9; color: #202020; }
.background-tan a:link, .background-tan a:visited, .exbd-block.exbd-style-tan a:link, .exbd-block.exbd-style-tan a:visited { color: #01578b; }
.background-tan a:hover, .background-tan a:active, .background-tan a:focus, .exbd-block.exbd-style-tan a:hover, .exbd-block.exbd-style-tan a:active, .exbd-block.exbd-style-tan a:focus { color: #B71C1C; }

.exbd-block.exbd-style-tan { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-tan { padding: 20px; } }
.exbd-block.exbd-style-tan > *:last-child { margin-bottom: 0; }

.text-tan { color: #f1ebd9 !important; }

.background-red, .exbd-block.exbd-style-red { background-color: #B71C1C; color: #fff; }
.background-red a:link, .background-red a:visited, .exbd-block.exbd-style-red a:link, .exbd-block.exbd-style-red a:visited { color: #cfb87c; }
.background-red a:hover, .background-red a:active, .background-red a:focus, .exbd-block.exbd-style-red a:hover, .exbd-block.exbd-style-red a:active, .exbd-block.exbd-style-red a:focus { color: #fff; }

.exbd-block.exbd-style-red { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-red { padding: 20px; } }
.exbd-block.exbd-style-red > *:last-child { margin-bottom: 0; }

.text-red { color: #B71C1C !important; }

.background-green, .exbd-block.exbd-style-green { background-color: #2E7D32; color: #fff; }
.background-green a:link, .background-green a:visited, .exbd-block.exbd-style-green a:link, .exbd-block.exbd-style-green a:visited { color: #cfb87c; }
.background-green a:hover, .background-green a:active, .background-green a:focus, .exbd-block.exbd-style-green a:hover, .exbd-block.exbd-style-green a:active, .exbd-block.exbd-style-green a:focus { color: #fff; }

.exbd-block.exbd-style-green { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-green { padding: 20px; } }
.exbd-block.exbd-style-green > *:last-child { margin-bottom: 0; }

.text-green { color: #2E7D32 !important; }

.background-amber, .exbd-block.exbd-style-amber { background-color: #FFD740; color: #202020; }
.background-amber a:link, .background-amber a:visited, .exbd-block.exbd-style-amber a:link, .exbd-block.exbd-style-amber a:visited { color: #014771; }
.background-amber a:hover, .background-amber a:active, .background-amber a:focus, .exbd-block.exbd-style-amber a:hover, .exbd-block.exbd-style-amber a:active, .exbd-block.exbd-style-amber a:focus { color: #a11919; }

.exbd-block.exbd-style-amber { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-amber { padding: 20px; } }
.exbd-block.exbd-style-amber > *:last-child { margin-bottom: 0; }

.text-amber { color: #FFD740 !important; }

.background-yellow, .exbd-block.exbd-style-yellow { background-color: #FFF9C4; color: #202020; }
.background-yellow a:link, .background-yellow a:visited, .exbd-block.exbd-style-yellow a:link, .exbd-block.exbd-style-yellow a:visited { color: #01578b; }
.background-yellow a:hover, .background-yellow a:active, .background-yellow a:focus, .exbd-block.exbd-style-yellow a:hover, .exbd-block.exbd-style-yellow a:active, .exbd-block.exbd-style-yellow a:focus { color: #B71C1C; }

.exbd-block.exbd-style-yellow { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-yellow { padding: 20px; } }
.exbd-block.exbd-style-yellow > *:last-child { margin-bottom: 0; }

.text-yellow { color: #FFF9C4 !important; }

.background-red-light, .exbd-block.exbd-style-red-light { background-color: #FFEBEE; color: #202020; }
.background-red-light a:link, .background-red-light a:visited, .exbd-block.exbd-style-red-light a:link, .exbd-block.exbd-style-red-light a:visited { color: #01578b; }
.background-red-light a:hover, .background-red-light a:active, .background-red-light a:focus, .exbd-block.exbd-style-red-light a:hover, .exbd-block.exbd-style-red-light a:active, .exbd-block.exbd-style-red-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-red-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-red-light { padding: 20px; } }
.exbd-block.exbd-style-red-light > *:last-child { margin-bottom: 0; }

.text-red-light { color: #FFEBEE !important; }

.background-gray-100 { background: #e6e6e6; color: #202020; }
.background-gray-100 a:link, .background-gray-100 a:visited { color: #01578b; }
.background-gray-100 a:hover, .background-gray-100 a:active, .background-gray-100 a:focus { color: #B71C1C; }

.background-gray-200 { background: #cccccc; color: #202020; }
.background-gray-200 a:link, .background-gray-200 a:visited { color: #014771; }
.background-gray-200 a:hover, .background-gray-200 a:active, .background-gray-200 a:focus { color: #a11919; }

.background-gray-300 { background: #b3b3b3; color: #202020; }
.background-gray-300 a:link, .background-gray-300 a:visited { color: #014771; }
.background-gray-300 a:hover, .background-gray-300 a:active, .background-gray-300 a:focus { color: #a11919; }

.background-gray-400 { background: #999999; color: #202020; }
.background-gray-400 a:link, .background-gray-400 a:visited { color: #014771; }
.background-gray-400 a:hover, .background-gray-400 a:active, .background-gray-400 a:focus { color: #a11919; }

.background-gray-500 { background: gray; color: #202020; }
.background-gray-500 a:link, .background-gray-500 a:visited { color: #014771; }
.background-gray-500 a:hover, .background-gray-500 a:active, .background-gray-500 a:focus { color: #a11919; }

.background-gray-600 { background: #666666; color: #fff; }
.background-gray-600 a:link, .background-gray-600 a:visited { color: #cfb87c; }
.background-gray-600 a:hover, .background-gray-600 a:active, .background-gray-600 a:focus { color: #fff; }

.background-gray-700 { background: #4d4d4d; color: #fff; }
.background-gray-700 a:link, .background-gray-700 a:visited { color: #cfb87c; }
.background-gray-700 a:hover, .background-gray-700 a:active, .background-gray-700 a:focus { color: #fff; }

.background-gray-800 { background: #333333; color: #fff; }
.background-gray-800 a:link, .background-gray-800 a:visited { color: #cfb87c; }
.background-gray-800 a:hover, .background-gray-800 a:active, .background-gray-800 a:focus { color: #fff; }

.background-gray-900 { background: #1a1a1a; color: #fff; }
.background-gray-900 a:link, .background-gray-900 a:visited { color: #cfb87c; }
.background-gray-900 a:hover, .background-gray-900 a:active, .background-gray-900 a:focus { color: #fff; }

/** Helper classes. */
.no-underline a, a.no-underline { text-decoration: none !important; }

.padding, .padding-medium { padding: 20px; }

.padding-small { padding: 10px; }

.padding-large { padding: 40px; }

.border { border: 1px solid rgba(128, 128, 128, 0.333); }

.border-top { border-top: 1px solid rgba(128, 128, 128, 0.333); }

.border-bottom { border-bottom: 1px solid rgba(128, 128, 128, 0.333); }

.border-left { border-left: 1px solid rgba(128, 128, 128, 0.333); }

.border-right { border-right: 1px solid rgba(128, 128, 128, 0.333); }

.margin-top { margin-top: 20px; }

.margin-bottom { margin-bottom: 20px; }

.text-magnify { font-size: 115%; }

.text-minify { font-size: 85%; }

.element-invisible { border: 0; height: 1px; overflow: hidden; padding: 0; position: absolute !important; width: 1px; white-space: nowrap; }

.clearfloats:after { content: ""; display: table; clear: both; }

.display-inline { display: inline; }

body { font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; text-rendering: optimizeLegibility; font-style: normal; font-variant: normal; -webkit-text-size-adjust: none; }

/*# sourceMappingURL=essentials.css.map */
