/** Global styles */
html { box-sizing: border-box; }

body { margin: 0; padding: 0; }

.page { background: #fff; }

*, *:before, *:after { box-sizing: inherit; }

a { color: #0277BD; transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease; text-decoration: none !important; text-decoration-color: rgba(2, 119, 189, 0.65); -webkit-text-decoration-color: rgba(2, 119, 189, 0.65); }
a:visited { color: #0277BD; }
a:hover { color: #B71C1C; text-decoration-color: rgba(183, 28, 28, 0.65); -webkit-text-decoration-color: rgba(183, 28, 28, 0.65); }
a:active, a:focus { color: #B71C1C; text-decoration-color: rgba(183, 28, 28, 0.65); -webkit-text-decoration-color: rgba(183, 28, 28, 0.65); }

/** Color styles */
.background-color-white { background-color: #fff; }

.background-white, .exbd-block.exbd-style-white { background-color: #fff; color: #111111; }
.background-white a:link, .background-white a:visited, .exbd-block.exbd-style-white a:link, .exbd-block.exbd-style-white a:visited { color: #0277BD; }
.background-white a:hover, .background-white a:active, .background-white a:focus, .exbd-block.exbd-style-white a:hover, .exbd-block.exbd-style-white a:active, .exbd-block.exbd-style-white a:focus { color: #B71C1C; }

.exbd-block.exbd-style-white { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-white { padding: 20px; } }
.exbd-block.exbd-style-white > *:last-child { margin-bottom: 0; }

.text-white { color: #fff !important; }

.background-color-black { background-color: #000; }

.background-black, .exbd-block.exbd-style-black { background-color: #000; color: #fff; }
.background-black a:link, .background-black a:visited, .exbd-block.exbd-style-black a:link, .exbd-block.exbd-style-black a:visited { color: #cfb87c; }
.background-black a:hover, .background-black a:active, .background-black a:focus, .exbd-block.exbd-style-black a:hover, .exbd-block.exbd-style-black a:active, .exbd-block.exbd-style-black a:focus { color: #fff; }

.exbd-block.exbd-style-black { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-black { padding: 20px; } }
.exbd-block.exbd-style-black > *:last-child { margin-bottom: 0; }

.text-black { color: #000 !important; }

.background-color-gray-dark { background-color: #424242; }

.background-gray-dark, .exbd-block.exbd-style-gray-dark { background-color: #424242; color: #fff; }
.background-gray-dark a:link, .background-gray-dark a:visited, .exbd-block.exbd-style-gray-dark a:link, .exbd-block.exbd-style-gray-dark a:visited { color: #cfb87c; }
.background-gray-dark a:hover, .background-gray-dark a:active, .background-gray-dark a:focus, .exbd-block.exbd-style-gray-dark a:hover, .exbd-block.exbd-style-gray-dark a:active, .exbd-block.exbd-style-gray-dark a:focus { color: #fff; }

.exbd-block.exbd-style-gray-dark { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gray-dark { padding: 20px; } }
.exbd-block.exbd-style-gray-dark > *:last-child { margin-bottom: 0; }

.text-gray-dark { color: #424242 !important; }

.background-color-gray-light { background-color: #EEEEEE; }

.background-gray-light, .exbd-block.exbd-style-gray-light { background-color: #EEEEEE; color: #111111; }
.background-gray-light a:link, .background-gray-light a:visited, .exbd-block.exbd-style-gray-light a:link, .exbd-block.exbd-style-gray-light a:visited { color: #01578b; }
.background-gray-light a:hover, .background-gray-light a:active, .background-gray-light a:focus, .exbd-block.exbd-style-gray-light a:hover, .exbd-block.exbd-style-gray-light a:active, .exbd-block.exbd-style-gray-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-gray-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gray-light { padding: 20px; } }
.exbd-block.exbd-style-gray-light > *:last-child { margin-bottom: 0; }

.text-gray-light { color: #EEEEEE !important; }

.background-color-gray { background-color: #EEEEEE; }

.background-gray, .exbd-block.exbd-style-gray { background-color: #EEEEEE; color: #111111; }
.background-gray a:link, .background-gray a:visited, .exbd-block.exbd-style-gray a:link, .exbd-block.exbd-style-gray a:visited { color: #01578b; }
.background-gray a:hover, .background-gray a:active, .background-gray a:focus, .exbd-block.exbd-style-gray a:hover, .exbd-block.exbd-style-gray a:active, .exbd-block.exbd-style-gray a:focus { color: #B71C1C; }

.exbd-block.exbd-style-gray { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gray { padding: 20px; } }
.exbd-block.exbd-style-gray > *:last-child { margin-bottom: 0; }

.text-gray { color: #EEEEEE !important; }

.background-color-blue { background-color: #0277BD; }

.background-blue, .exbd-block.exbd-style-blue { background-color: #0277BD; color: #fff; }
.background-blue a:link, .background-blue a:visited, .exbd-block.exbd-style-blue a:link, .exbd-block.exbd-style-blue a:visited { color: #cfb87c; }
.background-blue a:hover, .background-blue a:active, .background-blue a:focus, .exbd-block.exbd-style-blue a:hover, .exbd-block.exbd-style-blue a:active, .exbd-block.exbd-style-blue a:focus { color: #fff; }

.exbd-block.exbd-style-blue { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-blue { padding: 20px; } }
.exbd-block.exbd-style-blue > *:last-child { margin-bottom: 0; }

.text-blue { color: #0277BD !important; }

.background-color-blue-medium { background-color: #4FC3F7; }

.background-blue-medium, .exbd-block.exbd-style-blue-medium { background-color: #4FC3F7; color: #111111; }
.background-blue-medium a:link, .background-blue-medium a:visited, .exbd-block.exbd-style-blue-medium a:link, .exbd-block.exbd-style-blue-medium a:visited { color: #014771; }
.background-blue-medium a:hover, .background-blue-medium a:active, .background-blue-medium a:focus, .exbd-block.exbd-style-blue-medium a:hover, .exbd-block.exbd-style-blue-medium a:active, .exbd-block.exbd-style-blue-medium a:focus { color: #a11919; }

.exbd-block.exbd-style-blue-medium { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-blue-medium { padding: 20px; } }
.exbd-block.exbd-style-blue-medium > *:last-child { margin-bottom: 0; }

.text-blue-medium { color: #4FC3F7 !important; }

.background-color-blue-light { background-color: #E1F5FE; }

.background-blue-light, .exbd-block.exbd-style-blue-light { background-color: #E1F5FE; color: #111111; }
.background-blue-light a:link, .background-blue-light a:visited, .exbd-block.exbd-style-blue-light a:link, .exbd-block.exbd-style-blue-light a:visited { color: #01578b; }
.background-blue-light a:hover, .background-blue-light a:active, .background-blue-light a:focus, .exbd-block.exbd-style-blue-light a:hover, .exbd-block.exbd-style-blue-light a:active, .exbd-block.exbd-style-blue-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-blue-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-blue-light { padding: 20px; } }
.exbd-block.exbd-style-blue-light > *:last-child { margin-bottom: 0; }

.text-blue-light { color: #E1F5FE !important; }

.background-color-gold-light { background-color: #f1ebd9; }

.background-gold-light, .exbd-block.exbd-style-gold-light { background-color: #f1ebd9; color: #111111; }
.background-gold-light a:link, .background-gold-light a:visited, .exbd-block.exbd-style-gold-light a:link, .exbd-block.exbd-style-gold-light a:visited { color: #01578b; }
.background-gold-light a:hover, .background-gold-light a:active, .background-gold-light a:focus, .exbd-block.exbd-style-gold-light a:hover, .exbd-block.exbd-style-gold-light a:active, .exbd-block.exbd-style-gold-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-gold-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gold-light { padding: 20px; } }
.exbd-block.exbd-style-gold-light > *:last-child { margin-bottom: 0; }

.text-gold-light { color: #f1ebd9 !important; }

.background-color-green-light { background-color: #DCEDC8; }

.background-green-light, .exbd-block.exbd-style-green-light { background-color: #DCEDC8; color: #111111; }
.background-green-light a:link, .background-green-light a:visited, .exbd-block.exbd-style-green-light a:link, .exbd-block.exbd-style-green-light a:visited { color: #01578b; }
.background-green-light a:hover, .background-green-light a:active, .background-green-light a:focus, .exbd-block.exbd-style-green-light a:hover, .exbd-block.exbd-style-green-light a:active, .exbd-block.exbd-style-green-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-green-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-green-light { padding: 20px; } }
.exbd-block.exbd-style-green-light > *:last-child { margin-bottom: 0; }

.text-green-light { color: #DCEDC8 !important; }

.background-color-brick { background-color: #ae5a39; }

.background-brick, .exbd-block.exbd-style-brick { background-color: #ae5a39; color: #fff; }
.background-brick a:link, .background-brick a:visited, .exbd-block.exbd-style-brick a:link, .exbd-block.exbd-style-brick a:visited { color: #cfb87c; }
.background-brick a:hover, .background-brick a:active, .background-brick a:focus, .exbd-block.exbd-style-brick a:hover, .exbd-block.exbd-style-brick a:active, .exbd-block.exbd-style-brick a:focus { color: #fff; }

.exbd-block.exbd-style-brick { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-brick { padding: 20px; } }
.exbd-block.exbd-style-brick > *:last-child { margin-bottom: 0; }

.text-brick { color: #ae5a39 !important; }

.background-color-tan { background-color: #f1ebd9; }

.background-tan, .exbd-block.exbd-style-tan { background-color: #f1ebd9; color: #111111; }
.background-tan a:link, .background-tan a:visited, .exbd-block.exbd-style-tan a:link, .exbd-block.exbd-style-tan a:visited { color: #01578b; }
.background-tan a:hover, .background-tan a:active, .background-tan a:focus, .exbd-block.exbd-style-tan a:hover, .exbd-block.exbd-style-tan a:active, .exbd-block.exbd-style-tan a:focus { color: #B71C1C; }

.exbd-block.exbd-style-tan { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-tan { padding: 20px; } }
.exbd-block.exbd-style-tan > *:last-child { margin-bottom: 0; }

.text-tan { color: #f1ebd9 !important; }

.background-color-red { background-color: #B71C1C; }

.background-red, .exbd-block.exbd-style-red { background-color: #B71C1C; color: #fff; }
.background-red a:link, .background-red a:visited, .exbd-block.exbd-style-red a:link, .exbd-block.exbd-style-red a:visited { color: #cfb87c; }
.background-red a:hover, .background-red a:active, .background-red a:focus, .exbd-block.exbd-style-red a:hover, .exbd-block.exbd-style-red a:active, .exbd-block.exbd-style-red a:focus { color: #fff; }

.exbd-block.exbd-style-red { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-red { padding: 20px; } }
.exbd-block.exbd-style-red > *:last-child { margin-bottom: 0; }

.text-red { color: #B71C1C !important; }

.background-color-green { background-color: #2E7D32; }

.background-green, .exbd-block.exbd-style-green { background-color: #2E7D32; color: #fff; }
.background-green a:link, .background-green a:visited, .exbd-block.exbd-style-green a:link, .exbd-block.exbd-style-green a:visited { color: #cfb87c; }
.background-green a:hover, .background-green a:active, .background-green a:focus, .exbd-block.exbd-style-green a:hover, .exbd-block.exbd-style-green a:active, .exbd-block.exbd-style-green a:focus { color: #fff; }

.exbd-block.exbd-style-green { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-green { padding: 20px; } }
.exbd-block.exbd-style-green > *:last-child { margin-bottom: 0; }

.text-green { color: #2E7D32 !important; }

.background-color-amber { background-color: #FFD740; }

.background-amber, .exbd-block.exbd-style-amber { background-color: #FFD740; color: #111111; }
.background-amber a:link, .background-amber a:visited, .exbd-block.exbd-style-amber a:link, .exbd-block.exbd-style-amber a:visited { color: #014771; }
.background-amber a:hover, .background-amber a:active, .background-amber a:focus, .exbd-block.exbd-style-amber a:hover, .exbd-block.exbd-style-amber a:active, .exbd-block.exbd-style-amber a:focus { color: #a11919; }

.exbd-block.exbd-style-amber { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-amber { padding: 20px; } }
.exbd-block.exbd-style-amber > *:last-child { margin-bottom: 0; }

.text-amber { color: #FFD740 !important; }

.background-color-yellow { background-color: #FFF9C4; }

.background-yellow, .exbd-block.exbd-style-yellow { background-color: #FFF9C4; color: #111111; }
.background-yellow a:link, .background-yellow a:visited, .exbd-block.exbd-style-yellow a:link, .exbd-block.exbd-style-yellow a:visited { color: #01578b; }
.background-yellow a:hover, .background-yellow a:active, .background-yellow a:focus, .exbd-block.exbd-style-yellow a:hover, .exbd-block.exbd-style-yellow a:active, .exbd-block.exbd-style-yellow a:focus { color: #B71C1C; }

.exbd-block.exbd-style-yellow { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-yellow { padding: 20px; } }
.exbd-block.exbd-style-yellow > *:last-child { margin-bottom: 0; }

.text-yellow { color: #FFF9C4 !important; }

.background-color-red-light { background-color: #FFEBEE; }

.background-red-light, .exbd-block.exbd-style-red-light { background-color: #FFEBEE; color: #111111; }
.background-red-light a:link, .background-red-light a:visited, .exbd-block.exbd-style-red-light a:link, .exbd-block.exbd-style-red-light a:visited { color: #01578b; }
.background-red-light a:hover, .background-red-light a:active, .background-red-light a:focus, .exbd-block.exbd-style-red-light a:hover, .exbd-block.exbd-style-red-light a:active, .exbd-block.exbd-style-red-light a:focus { color: #B71C1C; }

.exbd-block.exbd-style-red-light { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-red-light { padding: 20px; } }
.exbd-block.exbd-style-red-light > *:last-child { margin-bottom: 0; }

.text-red-light { color: #FFEBEE !important; }

.background-color-gold { background-color: #cfb87c; }

.background-gold, .exbd-block.exbd-style-gold { background-color: #cfb87c; color: #111111; }
.background-gold a:link, .background-gold a:visited, .exbd-block.exbd-style-gold a:link, .exbd-block.exbd-style-gold a:visited { color: #222; }
.background-gold a:hover, .background-gold a:active, .background-gold a:focus, .exbd-block.exbd-style-gold a:hover, .exbd-block.exbd-style-gold a:active, .exbd-block.exbd-style-gold a:focus { color: #000; }

.exbd-block.exbd-style-gold { padding: 10px; }
@media screen and (min-width: 960px) { .exbd-block.exbd-style-gold { padding: 20px; } }
.exbd-block.exbd-style-gold > *:last-child { margin-bottom: 0; }

.text-gold { color: #cfb87c !important; }

.background-gray-100 { background: #e6e6e6; color: #111111; }
.background-gray-100 a:link, .background-gray-100 a:visited { color: #01578b; }
.background-gray-100 a:hover, .background-gray-100 a:active, .background-gray-100 a:focus { color: #B71C1C; }

.background-color-gray-100 { background: #e6e6e6; }

.background-gray-200 { background: #cccccc; color: #111111; }
.background-gray-200 a:link, .background-gray-200 a:visited { color: #014771; }
.background-gray-200 a:hover, .background-gray-200 a:active, .background-gray-200 a:focus { color: #a11919; }

.background-color-gray-200 { background: #cccccc; }

.background-gray-300 { background: #b3b3b3; color: #111111; }
.background-gray-300 a:link, .background-gray-300 a:visited { color: #014771; }
.background-gray-300 a:hover, .background-gray-300 a:active, .background-gray-300 a:focus { color: #a11919; }

.background-color-gray-300 { background: #b3b3b3; }

.background-gray-400 { background: #999999; color: #111111; }
.background-gray-400 a:link, .background-gray-400 a:visited { color: #014771; }
.background-gray-400 a:hover, .background-gray-400 a:active, .background-gray-400 a:focus { color: #a11919; }

.background-color-gray-400 { background: #999999; }

.background-gray-500 { background: gray; color: #111111; }
.background-gray-500 a:link, .background-gray-500 a:visited { color: #014771; }
.background-gray-500 a:hover, .background-gray-500 a:active, .background-gray-500 a:focus { color: #a11919; }

.background-color-gray-500 { background: gray; }

.background-gray-600 { background: #666666; color: #fff; }
.background-gray-600 a:link, .background-gray-600 a:visited { color: #cfb87c; }
.background-gray-600 a:hover, .background-gray-600 a:active, .background-gray-600 a:focus { color: #fff; }

.background-color-gray-600 { background: #666666; }

.background-gray-700 { background: #4d4d4d; color: #fff; }
.background-gray-700 a:link, .background-gray-700 a:visited { color: #cfb87c; }
.background-gray-700 a:hover, .background-gray-700 a:active, .background-gray-700 a:focus { color: #fff; }

.background-color-gray-700 { background: #4d4d4d; }

.background-gray-800 { background: #333333; color: #fff; }
.background-gray-800 a:link, .background-gray-800 a:visited { color: #cfb87c; }
.background-gray-800 a:hover, .background-gray-800 a:active, .background-gray-800 a:focus { color: #fff; }

.background-color-gray-800 { background: #333333; }

.background-gray-900 { background: #1a1a1a; color: #fff; }
.background-gray-900 a:link, .background-gray-900 a:visited { color: #cfb87c; }
.background-gray-900 a:hover, .background-gray-900 a:active, .background-gray-900 a:focus { color: #fff; }

.background-color-gray-900 { background: #1a1a1a; }

/*# sourceMappingURL=colors.css.map */
