/** Global styles */
html { box-sizing: border-box; }

body { margin: 0; padding: 0; }

.page { background: #fff; }

*, *:before, *:after { box-sizing: inherit; }

a { color: #0277BD; transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease; text-decoration: none !important; text-decoration-color: rgba(2, 119, 189, 0.65); -webkit-text-decoration-color: rgba(2, 119, 189, 0.65); }
a:visited { color: #0277BD; }
a:hover { color: #B71C1C; text-decoration-color: rgba(183, 28, 28, 0.65); -webkit-text-decoration-color: rgba(183, 28, 28, 0.65); }
a:active, a:focus { color: #B71C1C; text-decoration-color: rgba(183, 28, 28, 0.65); -webkit-text-decoration-color: rgba(183, 28, 28, 0.65); }

/** Layout styles */
.layout-boxed .page { max-width: 1140px; margin: 0 auto; }

.element-max-width { max-width: 1200px; }

.element-max-width-padding { max-width: 1160px; }

.container { width: 100%; padding-right: 20px; padding-left: 20px; margin-right: auto; margin-left: auto; }

@media (min-width: 768px) { .container.container-small { max-width: 540px; } }
@media (min-width: 992px) { .container { max-width: 960px; }
  .container.container-small { max-width: 720px; } }
@media (min-width: 1200px) { .container { max-width: 1160px; }
  .container.container-small { max-width: 960; } }
@media (min-width: 1500px) { .container { max-width: 1460px; }
  .container.container-small { max-width: 960; } }
.layout-fixed .container { width: 1160px; max-width: none; }

.container-fluid { width: 100%; padding-right: 20px; padding-left: 20px; margin-right: auto; margin-left: auto; }

.row { margin-left: -20px; margin-right: -20px; }

.element-spacing { padding: 0 20px; }

/* Max width classes for elements */
.layout-responsive .element-max-width { max-width: 1200px; margin-right: auto; margin-left: auto; clear: both; }
.layout-responsive .element-max-width:after { content: ""; display: table; clear: both; }

.layout-responsive .element-max-width-gutter, .layout-responsive .element-max-width-padding { max-width: 1160px; margin-right: auto; margin-left: auto; clear: both; }
.layout-responsive .element-max-width-gutter:after, .layout-responsive .element-max-width-padding:after { content: ""; display: table; clear: both; }

.layout-fixed .element-max-width { max-width: 1200px; margin-right: auto; margin-left: auto; clear: both; }
.layout-fixed .element-max-width:after { content: ""; display: table; clear: both; }

.layout-fixed .element-max-width-gutter, .layout-fixed .element-max-width-padding { max-width: 1160px; margin-right: auto; margin-left: auto; clear: both; }
.layout-fixed .element-max-width-gutter:after, .layout-fixed .element-max-width-padding:after { content: ""; display: table; clear: both; }

.layout-responsive .container-max { margin-right: auto; margin-left: auto; max-width: 1200px; }
.layout-responsive .container-max:after { content: ""; display: table; clear: both; }

.layout-fixed .container-max { margin-right: auto; margin-left: auto; width: 1200px; }
.layout-fixed .container-max:after { content: ""; display: table; clear: both; }

.layout-fixed { min-width: 1200px; }

/* Visibility */
.visible-xs, .visible-sm, .visible-md, .visible-lg { display: none !important; }

@media (max-width: 767px) { .visible-xs { display: block !important; } }
@media (min-width: 768px) and (max-width: 959px) { .visible-sm { display: block !important; } }
@media (min-width: 960px) and (max-width: 1199px) { .visible-md { display: block !important; } }
@media (min-width: 1200px) { .visible-lg { display: block !important; } }
.row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -20px; margin-left: -20px; }

.no-gutters { margin-right: 0; margin-left: 0; }

.no-gutters > .col, .no-gutters > [class*="col-"] { padding-right: 0; padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto { position: relative; width: 100%; min-height: 1px; padding-right: 20px; padding-left: 20px; }

.layout-responsive .col { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
.layout-responsive .col-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }
.layout-responsive .col-1, .layout-responsive .col-xs-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
.layout-responsive .col-2, .layout-responsive .col-xs-2 { -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
.layout-responsive .col-3, .layout-responsive .col-xs-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
.layout-responsive .col-4, .layout-responsive .col-xs-4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
.layout-responsive .col-5, .layout-responsive .col-xs-5 { -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
.layout-responsive .col-6, .layout-responsive .col-xs-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
.layout-responsive .col-7, .layout-responsive .col-xs-7 { -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
.layout-responsive .col-8, .layout-responsive .col-xs-8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
.layout-responsive .col-9, .layout-responsive .col-xs-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
.layout-responsive .col-10, .layout-responsive .col-xs-10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
.layout-responsive .col-11, .layout-responsive .col-xs-11 { -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
.layout-responsive .col-12, .layout-responsive .col-xs-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
.layout-responsive .order-first { -ms-flex-order: -1; order: -1; }
.layout-responsive .order-last { -ms-flex-order: 13; order: 13; }
.layout-responsive .order-0 { -ms-flex-order: 0; order: 0; }
.layout-responsive .order-1 { -ms-flex-order: 1; order: 1; }
.layout-responsive .order-2 { -ms-flex-order: 2; order: 2; }
.layout-responsive .order-3 { -ms-flex-order: 3; order: 3; }
.layout-responsive .order-4 { -ms-flex-order: 4; order: 4; }
.layout-responsive .order-5 { -ms-flex-order: 5; order: 5; }
.layout-responsive .order-6 { -ms-flex-order: 6; order: 6; }
.layout-responsive .order-7 { -ms-flex-order: 7; order: 7; }
.layout-responsive .order-8 { -ms-flex-order: 8; order: 8; }
.layout-responsive .order-9 { -ms-flex-order: 9; order: 9; }
.layout-responsive .order-10 { -ms-flex-order: 10; order: 10; }
.layout-responsive .order-11 { -ms-flex-order: 11; order: 11; }
.layout-responsive .order-12 { -ms-flex-order: 12; order: 12; }
.layout-responsive .offset-1 { margin-left: 8.333333%; }
.layout-responsive .offset-2 { margin-left: 16.666667%; }
.layout-responsive .offset-3 { margin-left: 25%; }
.layout-responsive .offset-4 { margin-left: 33.333333%; }
.layout-responsive .offset-5 { margin-left: 41.666667%; }
.layout-responsive .offset-6 { margin-left: 50%; }
.layout-responsive .offset-7 { margin-left: 58.333333%; }
.layout-responsive .offset-8 { margin-left: 66.666667%; }
.layout-responsive .offset-9 { margin-left: 75%; }
.layout-responsive .offset-10 { margin-left: 83.333333%; }
.layout-responsive .offset-11 { margin-left: 91.666667%; }
@media (min-width: 576px) { .layout-responsive .col-sm { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .layout-responsive .col-sm-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }
  .layout-responsive .col-sm-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
  .layout-responsive .col-sm-2 { -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
  .layout-responsive .col-sm-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .layout-responsive .col-sm-4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
  .layout-responsive .col-sm-5 { -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
  .layout-responsive .col-sm-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .layout-responsive .col-sm-7 { -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
  .layout-responsive .col-sm-8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
  .layout-responsive .col-sm-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .layout-responsive .col-sm-10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
  .layout-responsive .col-sm-11 { -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
  .layout-responsive .col-sm-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .layout-responsive .order-sm-first { -ms-flex-order: -1; order: -1; }
  .layout-responsive .order-sm-last { -ms-flex-order: 13; order: 13; }
  .layout-responsive .order-sm-0 { -ms-flex-order: 0; order: 0; }
  .layout-responsive .order-sm-1 { -ms-flex-order: 1; order: 1; }
  .layout-responsive .order-sm-2 { -ms-flex-order: 2; order: 2; }
  .layout-responsive .order-sm-3 { -ms-flex-order: 3; order: 3; }
  .layout-responsive .order-sm-4 { -ms-flex-order: 4; order: 4; }
  .layout-responsive .order-sm-5 { -ms-flex-order: 5; order: 5; }
  .layout-responsive .order-sm-6 { -ms-flex-order: 6; order: 6; }
  .layout-responsive .order-sm-7 { -ms-flex-order: 7; order: 7; }
  .layout-responsive .order-sm-8 { -ms-flex-order: 8; order: 8; }
  .layout-responsive .order-sm-9 { -ms-flex-order: 9; order: 9; }
  .layout-responsive .order-sm-10 { -ms-flex-order: 10; order: 10; }
  .layout-responsive .order-sm-11 { -ms-flex-order: 11; order: 11; }
  .layout-responsive .order-sm-12 { -ms-flex-order: 12; order: 12; }
  .layout-responsive .offset-sm-0 { margin-left: 0; }
  .layout-responsive .offset-sm-1 { margin-left: 8.333333%; }
  .layout-responsive .offset-sm-2 { margin-left: 16.666667%; }
  .layout-responsive .offset-sm-3 { margin-left: 25%; }
  .layout-responsive .offset-sm-4 { margin-left: 33.333333%; }
  .layout-responsive .offset-sm-5 { margin-left: 41.666667%; }
  .layout-responsive .offset-sm-6 { margin-left: 50%; }
  .layout-responsive .offset-sm-7 { margin-left: 58.333333%; }
  .layout-responsive .offset-sm-8 { margin-left: 66.666667%; }
  .layout-responsive .offset-sm-9 { margin-left: 75%; }
  .layout-responsive .offset-sm-10 { margin-left: 83.333333%; }
  .layout-responsive .offset-sm-11 { margin-left: 91.666667%; } }
@media (min-width: 769px) { .layout-responsive .col-md { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .layout-responsive .col-md-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }
  .layout-responsive .col-md-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
  .layout-responsive .col-md-2 { -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
  .layout-responsive .col-md-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .layout-responsive .col-md-4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
  .layout-responsive .col-md-5 { -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
  .layout-responsive .col-md-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .layout-responsive .col-md-7 { -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
  .layout-responsive .col-md-8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
  .layout-responsive .col-md-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .layout-responsive .col-md-10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
  .layout-responsive .col-md-11 { -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
  .layout-responsive .col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .layout-responsive .order-md-first { -ms-flex-order: -1; order: -1; }
  .layout-responsive .order-md-last { -ms-flex-order: 13; order: 13; }
  .layout-responsive .order-md-0 { -ms-flex-order: 0; order: 0; }
  .layout-responsive .order-md-1 { -ms-flex-order: 1; order: 1; }
  .layout-responsive .order-md-2 { -ms-flex-order: 2; order: 2; }
  .layout-responsive .order-md-3 { -ms-flex-order: 3; order: 3; }
  .layout-responsive .order-md-4 { -ms-flex-order: 4; order: 4; }
  .layout-responsive .order-md-5 { -ms-flex-order: 5; order: 5; }
  .layout-responsive .order-md-6 { -ms-flex-order: 6; order: 6; }
  .layout-responsive .order-md-7 { -ms-flex-order: 7; order: 7; }
  .layout-responsive .order-md-8 { -ms-flex-order: 8; order: 8; }
  .layout-responsive .order-md-9 { -ms-flex-order: 9; order: 9; }
  .layout-responsive .order-md-10 { -ms-flex-order: 10; order: 10; }
  .layout-responsive .order-md-11 { -ms-flex-order: 11; order: 11; }
  .layout-responsive .order-md-12 { -ms-flex-order: 12; order: 12; }
  .layout-responsive .offset-md-0 { margin-left: 0; }
  .layout-responsive .offset-md-1 { margin-left: 8.333333%; }
  .layout-responsive .offset-md-2 { margin-left: 16.666667%; }
  .layout-responsive .offset-md-3 { margin-left: 25%; }
  .layout-responsive .offset-md-4 { margin-left: 33.333333%; }
  .layout-responsive .offset-md-5 { margin-left: 41.666667%; }
  .layout-responsive .offset-md-6 { margin-left: 50%; }
  .layout-responsive .offset-md-7 { margin-left: 58.333333%; }
  .layout-responsive .offset-md-8 { margin-left: 66.666667%; }
  .layout-responsive .offset-md-9 { margin-left: 75%; }
  .layout-responsive .offset-md-10 { margin-left: 83.333333%; }
  .layout-responsive .offset-md-11 { margin-left: 91.666667%; } }
@media (min-width: 992px) { .layout-responsive .col-lg { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .layout-responsive .col-lg-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }
  .layout-responsive .col-lg-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
  .layout-responsive .col-lg-2 { -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
  .layout-responsive .col-lg-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .layout-responsive .col-lg-4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
  .layout-responsive .col-lg-5 { -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
  .layout-responsive .col-lg-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .layout-responsive .col-lg-7 { -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
  .layout-responsive .col-lg-8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
  .layout-responsive .col-lg-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .layout-responsive .col-lg-10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
  .layout-responsive .col-lg-11 { -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
  .layout-responsive .col-lg-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .layout-responsive .order-lg-first { -ms-flex-order: -1; order: -1; }
  .layout-responsive .order-lg-last { -ms-flex-order: 13; order: 13; }
  .layout-responsive .order-lg-0 { -ms-flex-order: 0; order: 0; }
  .layout-responsive .order-lg-1 { -ms-flex-order: 1; order: 1; }
  .layout-responsive .order-lg-2 { -ms-flex-order: 2; order: 2; }
  .layout-responsive .order-lg-3 { -ms-flex-order: 3; order: 3; }
  .layout-responsive .order-lg-4 { -ms-flex-order: 4; order: 4; }
  .layout-responsive .order-lg-5 { -ms-flex-order: 5; order: 5; }
  .layout-responsive .order-lg-6 { -ms-flex-order: 6; order: 6; }
  .layout-responsive .order-lg-7 { -ms-flex-order: 7; order: 7; }
  .layout-responsive .order-lg-8 { -ms-flex-order: 8; order: 8; }
  .layout-responsive .order-lg-9 { -ms-flex-order: 9; order: 9; }
  .layout-responsive .order-lg-10 { -ms-flex-order: 10; order: 10; }
  .layout-responsive .order-lg-11 { -ms-flex-order: 11; order: 11; }
  .layout-responsive .order-lg-12 { -ms-flex-order: 12; order: 12; }
  .layout-responsive .offset-lg-0 { margin-left: 0; }
  .layout-responsive .offset-lg-1 { margin-left: 8.333333%; }
  .layout-responsive .offset-lg-2 { margin-left: 16.666667%; }
  .layout-responsive .offset-lg-3 { margin-left: 25%; }
  .layout-responsive .offset-lg-4 { margin-left: 33.333333%; }
  .layout-responsive .offset-lg-5 { margin-left: 41.666667%; }
  .layout-responsive .offset-lg-6 { margin-left: 50%; }
  .layout-responsive .offset-lg-7 { margin-left: 58.333333%; }
  .layout-responsive .offset-lg-8 { margin-left: 66.666667%; }
  .layout-responsive .offset-lg-9 { margin-left: 75%; }
  .layout-responsive .offset-lg-10 { margin-left: 83.333333%; }
  .layout-responsive .offset-lg-11 { margin-left: 91.666667%; } }
@media (min-width: 1200px) { .layout-responsive .col-xl { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .layout-responsive .col-xl-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }
  .layout-responsive .col-xl-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
  .layout-responsive .col-xl-2 { -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
  .layout-responsive .col-xl-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .layout-responsive .col-xl-4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
  .layout-responsive .col-xl-5 { -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
  .layout-responsive .col-xl-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .layout-responsive .col-xl-7 { -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
  .layout-responsive .col-xl-8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
  .layout-responsive .col-xl-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .layout-responsive .col-xl-10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
  .layout-responsive .col-xl-11 { -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
  .layout-responsive .col-xl-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .layout-responsive .order-xl-first { -ms-flex-order: -1; order: -1; }
  .layout-responsive .order-xl-last { -ms-flex-order: 13; order: 13; }
  .layout-responsive .order-xl-0 { -ms-flex-order: 0; order: 0; }
  .layout-responsive .order-xl-1 { -ms-flex-order: 1; order: 1; }
  .layout-responsive .order-xl-2 { -ms-flex-order: 2; order: 2; }
  .layout-responsive .order-xl-3 { -ms-flex-order: 3; order: 3; }
  .layout-responsive .order-xl-4 { -ms-flex-order: 4; order: 4; }
  .layout-responsive .order-xl-5 { -ms-flex-order: 5; order: 5; }
  .layout-responsive .order-xl-6 { -ms-flex-order: 6; order: 6; }
  .layout-responsive .order-xl-7 { -ms-flex-order: 7; order: 7; }
  .layout-responsive .order-xl-8 { -ms-flex-order: 8; order: 8; }
  .layout-responsive .order-xl-9 { -ms-flex-order: 9; order: 9; }
  .layout-responsive .order-xl-10 { -ms-flex-order: 10; order: 10; }
  .layout-responsive .order-xl-11 { -ms-flex-order: 11; order: 11; }
  .layout-responsive .order-xl-12 { -ms-flex-order: 12; order: 12; }
  .layout-responsive .offset-xl-0 { margin-left: 0; }
  .layout-responsive .offset-xl-1 { margin-left: 8.333333%; }
  .layout-responsive .offset-xl-2 { margin-left: 16.666667%; }
  .layout-responsive .offset-xl-3 { margin-left: 25%; }
  .layout-responsive .offset-xl-4 { margin-left: 33.333333%; }
  .layout-responsive .offset-xl-5 { margin-left: 41.666667%; }
  .layout-responsive .offset-xl-6 { margin-left: 50%; }
  .layout-responsive .offset-xl-7 { margin-left: 58.333333%; }
  .layout-responsive .offset-xl-8 { margin-left: 66.666667%; }
  .layout-responsive .offset-xl-9 { margin-left: 75%; }
  .layout-responsive .offset-xl-10 { margin-left: 83.333333%; }
  .layout-responsive .offset-xl-11 { margin-left: 91.666667%; } }

.layout-fixed .col-md { -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
.layout-fixed .col-md-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; }
.layout-fixed .col-md-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }
.layout-fixed .col-md-2 { -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }
.layout-fixed .col-md-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
.layout-fixed .col-md-4 { -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }
.layout-fixed .col-md-5 { -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }
.layout-fixed .col-md-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
.layout-fixed .col-md-7 { -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }
.layout-fixed .col-md-8 { -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }
.layout-fixed .col-md-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
.layout-fixed .col-md-10 { -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }
.layout-fixed .col-md-11 { -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }
.layout-fixed .col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
.layout-fixed .order-md-first { -ms-flex-order: -1; order: -1; }
.layout-fixed .order-md-last { -ms-flex-order: 13; order: 13; }
.layout-fixed .order-md-0 { -ms-flex-order: 0; order: 0; }
.layout-fixed .order-md-1 { -ms-flex-order: 1; order: 1; }
.layout-fixed .order-md-2 { -ms-flex-order: 2; order: 2; }
.layout-fixed .order-md-3 { -ms-flex-order: 3; order: 3; }
.layout-fixed .order-md-4 { -ms-flex-order: 4; order: 4; }
.layout-fixed .order-md-5 { -ms-flex-order: 5; order: 5; }
.layout-fixed .order-md-6 { -ms-flex-order: 6; order: 6; }
.layout-fixed .order-md-7 { -ms-flex-order: 7; order: 7; }
.layout-fixed .order-md-8 { -ms-flex-order: 8; order: 8; }
.layout-fixed .order-md-9 { -ms-flex-order: 9; order: 9; }
.layout-fixed .order-md-10 { -ms-flex-order: 10; order: 10; }
.layout-fixed .order-md-11 { -ms-flex-order: 11; order: 11; }
.layout-fixed .order-md-12 { -ms-flex-order: 12; order: 12; }
.layout-fixed .offset-md-0 { margin-left: 0; }
.layout-fixed .offset-md-1 { margin-left: 8.333333%; }
.layout-fixed .offset-md-2 { margin-left: 16.666667%; }
.layout-fixed .offset-md-3 { margin-left: 25%; }
.layout-fixed .offset-md-4 { margin-left: 33.333333%; }
.layout-fixed .offset-md-5 { margin-left: 41.666667%; }
.layout-fixed .offset-md-6 { margin-left: 50%; }
.layout-fixed .offset-md-7 { margin-left: 58.333333%; }
.layout-fixed .offset-md-8 { margin-left: 66.666667%; }
.layout-fixed .offset-md-9 { margin-left: 75%; }
.layout-fixed .offset-md-10 { margin-left: 83.333333%; }
.layout-fixed .offset-md-11 { margin-left: 91.666667%; }

/*# sourceMappingURL=grid.css.map */
