@charset "UTF-8";
/** Global styles */
html { box-sizing: border-box; }

body { margin: 0; padding: 0; }

.page { background: #fff; }

*, *:before, *:after { box-sizing: inherit; }

a:link, a:visited { color: #0277BD; transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease; text-decoration: none; text-decoration-color: rgba(2, 119, 189, 0.65); -webkit-text-decoration-color: rgba(2, 119, 189, 0.65); }
a:hover { color: #B71C1C; text-decoration-color: rgba(183, 28, 28, 0.65); -webkit-text-decoration-color: rgba(183, 28, 28, 0.65); }
a:active { color: #B71C1C; text-decoration-color: rgba(183, 28, 28, 0.65); -webkit-text-decoration-color: rgba(183, 28, 28, 0.65); }

/** Typography styles */
body { font-size: 16px; line-height: 1.5; font-family: "Neue Helvetica W01", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #111111; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; text-rendering: optimizeLegibility; font-style: normal; font-variant: normal; -webkit-text-size-adjust: none; }

/** Headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { line-height: 1.3; margin: 0 0 10px 0; }

.footer-section h1, .footer-section h2, .footer-section h3, .footer-section h4, .footer-section h5, .footer-section h6, .footer-section .h1, .footer-section .h2, .footer-section .h3, .footer-section .h4, .footer-section .h5, .footer-section .h6 { margin: 0 0 10px 0; }

h2, .h2 { font-size: 140%; }

h3, .h3 { font-size: 130%; }

h4, .h4 { font-size: 120%; }

h5, .h5 { font-size: 110%; }

h6, .h6 { font-size: 100%; }

.sidebar h2, .sidebar .h2 { font-size: 140%; }
.sidebar h3, .sidebar .h3 { font-size: 130%; }
.sidebar h4, .sidebar .h4 { font-size: 120%; }
.sidebar h5, .sidebar .h5 { font-size: 110%; }
.sidebar h6, .sidebar .h6 { font-size: 100%; }

@media screen and (min-width: 960px) { h2, .h2 { font-size: 160%; }
  h3, .h3 { font-size: 145%; }
  h4, .h4 { font-size: 130%; }
  h5, .h5 { font-size: 115%; }
  h6, .h6 { font-size: 100%; }
  .sidebar h2, .sidebar .h2 { font-size: 132%; }
  .sidebar h3, .sidebar .h3 { font-size: 124%; }
  .sidebar h4, .sidebar .h4 { font-size: 116%; }
  .sidebar h5, .sidebar .h5 { font-size: 108%; }
  .sidebar h6, .sidebar .h6 { font-size: 100%; } }
#after-content h2, #after-content .h2, #after-content-2 h2, #after-content-2 .h2 { font-size: 140%; }
#after-content h3, #after-content .h3, #after-content-2 h3, #after-content-2 .h3 { font-size: 130%; }
#after-content h4, #after-content .h4, #after-content-2 h4, #after-content-2 .h4 { font-size: 120%; }
#after-content h5, #after-content .h5, #after-content-2 h5, #after-content-2 .h5 { font-size: 110%; }
#after-content h6, #after-content .h6, #after-content-2 h6, #after-content-2 .h6 { font-size: 100%; }

.footer-section { font-size: 90%; line-height: 1.5; }
.footer-section h2, .footer-section .h2 { font-size: 140%; }
.footer-section h3, .footer-section .h3 { font-size: 130%; }
.footer-section h4, .footer-section .h4 { font-size: 120%; }
.footer-section h5, .footer-section .h5 { font-size: 110%; }
.footer-section h6, .footer-section .h6 { font-size: 100%; }

.node-view-mode-teaser h2, .node-view-mode-teaser h3 { font-size: 120%; }

h1, h1#page-title, #page-title-image-title, .page-title-section h1, .h1 { font-size: 180%; font-family: "Neue Helvetica W01", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 i, h1 em, h1#page-title i, h1#page-title em, #page-title-image-title i, #page-title-image-title em, .page-title-section h1 i, .page-title-section h1 em, .h1 i, .h1 em { font-style: italic; }

@media screen and (min-width: 768px) { h1, h1#page-title, #page-title-image-title, .page-title-section h1, .h1 { font-size: 220%; } }
h1, .h1, h1#page-title, #page-title-image-title, .page-title-section h1, h2, h3, h4, .h2, .h3, .h4 { font-weight: bold; }
h1 strong, h1 b, .h1 strong, .h1 b, h1#page-title strong, h1#page-title b, #page-title-image-title strong, #page-title-image-title b, .page-title-section h1 strong, .page-title-section h1 b, h2 strong, h2 b, h3 strong, h3 b, h4 strong, h4 b, .h2 strong, .h2 b, .h3 strong, .h3 b, .h4 strong, .h4 b { font-weight: bold; }

h5, h6, .h5, .h6 { font-weight: bold; }

h2.block-title, h2.node-title { font-weight: bold; }

.headings-light h1, .headings-light .h1 h1#page-title, .headings-light #page-title-image-title, .headings-light .page-title-section h1, .headings-light h2, .headings-light h2.block-title, .headings-light h2.node-title, .headings-light h3, .headings-light h4, .headings-light h5, .headings-light h6 .h2, .headings-light .h3, .headings-light .h4, .headings-light .h5, .headings-light .h6 { font-weight: normal; }
.headings-light h1 strong, .headings-light h1 b, .headings-light .h1 h1#page-title strong, .headings-light .h1 h1#page-title b, .headings-light #page-title-image-title strong, .headings-light #page-title-image-title b, .headings-light .page-title-section h1 strong, .headings-light .page-title-section h1 b, .headings-light h2 strong, .headings-light h2 b, .headings-light h2.block-title strong, .headings-light h2.block-title b, .headings-light h2.node-title strong, .headings-light h2.node-title b, .headings-light h3 strong, .headings-light h3 b, .headings-light h4 strong, .headings-light h4 b, .headings-light h5 strong, .headings-light h5 b, .headings-light h6 .h2 strong, .headings-light h6 .h2 b, .headings-light .h3 strong, .headings-light .h3 b, .headings-light .h4 strong, .headings-light .h4 b, .headings-light .h5 strong, .headings-light .h5 b, .headings-light .h6 strong, .headings-light .h6 b { font-weight: bold; }

.brand-fonts h1, .brand-fonts .h1 h1#page-title, .brand-fonts #page-title-image-title, .brand-fonts .page-title-section h1, .brand-fonts h2, .brand-fonts h3, .brand-fonts h4, .brand-fonts .h2, .brand-fonts .h3, .brand-fonts .h4 { font-weight: 700; }
.brand-fonts h1 strong, .brand-fonts h1 b, .brand-fonts .h1 h1#page-title strong, .brand-fonts .h1 h1#page-title b, .brand-fonts #page-title-image-title strong, .brand-fonts #page-title-image-title b, .brand-fonts .page-title-section h1 strong, .brand-fonts .page-title-section h1 b, .brand-fonts h2 strong, .brand-fonts h2 b, .brand-fonts h3 strong, .brand-fonts h3 b, .brand-fonts h4 strong, .brand-fonts h4 b, .brand-fonts .h2 strong, .brand-fonts .h2 b, .brand-fonts .h3 strong, .brand-fonts .h3 b, .brand-fonts .h4 strong, .brand-fonts .h4 b { font-weight: 700; }
.brand-fonts h5, .brand-fonts h6, .brand-fonts .h5, .brand-fonts .h6 { font-weight: 600; }
.brand-fonts h2.block-title, .brand-fonts h2.node-title { font-weight: 700; }
.brand-fonts.headings-light h1, .brand-fonts.headings-light .h1 h1#page-title, .brand-fonts.headings-light #page-title-image-title, .brand-fonts.headings-light .page-title-section h1, .brand-fonts.headings-light h2, .brand-fonts.headings-light h2.block-title, .brand-fonts.headings-light h2.node-title, .brand-fonts.headings-light h3, .brand-fonts.headings-light h4, .brand-fonts.headings-light h5, .brand-fonts.headings-light h6, .brand-fonts.headings-light .h2, .brand-fonts.headings-light .h3, .brand-fonts.headings-light .h4, .brand-fonts.headings-light .h5, .brand-fonts.headings-light .h6 { font-weight: 200; }
.brand-fonts.headings-light h1 strong, .brand-fonts.headings-light h1 b, .brand-fonts.headings-light .h1 h1#page-title strong, .brand-fonts.headings-light .h1 h1#page-title b, .brand-fonts.headings-light #page-title-image-title strong, .brand-fonts.headings-light #page-title-image-title b, .brand-fonts.headings-light .page-title-section h1 strong, .brand-fonts.headings-light .page-title-section h1 b, .brand-fonts.headings-light h2 strong, .brand-fonts.headings-light h2 b, .brand-fonts.headings-light h2.block-title strong, .brand-fonts.headings-light h2.block-title b, .brand-fonts.headings-light h2.node-title strong, .brand-fonts.headings-light h2.node-title b, .brand-fonts.headings-light h3 strong, .brand-fonts.headings-light h3 b, .brand-fonts.headings-light h4 strong, .brand-fonts.headings-light h4 b, .brand-fonts.headings-light h5 strong, .brand-fonts.headings-light h5 b, .brand-fonts.headings-light h6 strong, .brand-fonts.headings-light h6 b, .brand-fonts.headings-light .h2 strong, .brand-fonts.headings-light .h2 b, .brand-fonts.headings-light .h3 strong, .brand-fonts.headings-light .h3 b, .brand-fonts.headings-light .h4 strong, .brand-fonts.headings-light .h4 b, .brand-fonts.headings-light .h5 strong, .brand-fonts.headings-light .h5 b, .brand-fonts.headings-light .h6 strong, .brand-fonts.headings-light .h6 b { font-weight: 600; }

.type-size { font-size: 100% !important; }

p, dl, hr, ol, ul, pre, table, address, fieldset { margin: 0 0 20px 0; }

p:empty { margin: 0; }

.content > *:last-child { margin-bottom: 0; }

dt, .admin h3 { font-weight: 600; margin: 0; }

dd { padding-left: 10px; font-style: italic; margin-bottom: 20px; }
dd p { margin-bottom: 10px; }

blockquote { font-size: 110%; margin: 0px 0px 40px 20px; padding-left: 20px; border-left: 4px solid rgba(128, 128, 128, 0.333); }

small, .small-text { font-size: 80%; font-family: Arial, Helvetica, sans-serif !important; }

sub, sup { /* Specified in % so that the sup/sup is the right size relative to the surrounding text */ font-size: 75%; /* Zero out the line-height so that it doesn't interfere with the positioning that follows */ line-height: 0; /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */ position: relative; /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */ vertical-align: baseline; }

sup { /* Move the superscripted text up */ top: -0.5em; }

sub { /* Move the subscripted text down, but only half as far down as the superscript moved up */ bottom: -0.25em; }

/** Font weights 600 is a good bold, 700 is extra black, 900 is extra black condensed */
strong { font-weight: bold; }

.lead { font-size: 130%; line-height: 1.4; }
.lead strong { font-weight: bold; }

.hero, h2.hero, h3.hero, .exbd-heading-style-hero > .block-inner > .exbd-block-title > .block-title, .exbd-heading-style-hero-bold > .block-inner > .exbd-block-title > .block-title { font-size: 200%; line-height: 1.3; font-weight: normal; }
.hero strong, h2.hero strong, h3.hero strong, .exbd-heading-style-hero > .block-inner > .exbd-block-title > .block-title strong, .exbd-heading-style-hero-bold > .block-inner > .exbd-block-title > .block-title strong { font-weight: bold; }
.brand-fonts .hero, .brand-fonts h2.hero, .brand-fonts h3.hero, .brand-fonts .exbd-heading-style-hero > .block-inner > .exbd-block-title > .block-title, .brand-fonts .exbd-heading-style-hero-bold > .block-inner > .exbd-block-title > .block-title { font-weight: 100; }
.brand-fonts .hero strong, .brand-fonts h2.hero strong, .brand-fonts h3.hero strong, .brand-fonts .exbd-heading-style-hero > .block-inner > .exbd-block-title > .block-title strong, .brand-fonts .exbd-heading-style-hero-bold > .block-inner > .exbd-block-title > .block-title strong { font-weight: 750; font-family: "Neue Helvetica W05", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.exbd-heading-style-hero-bold > .block-inner > .exbd-block-title > .block-title { font-weight: 750; font-family: "Neue Helvetica W05", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.supersize, h2.supersize, h3.supersize, .exbd-heading-style-supersize > .block-inner > .exbd-block-title > .block-title, .exbd-heading-style-supersize-bold > .block-inner > .exbd-block-title > .block-title { font-size: 320%; line-height: 1.3; font-weight: normal; }
.supersize strong, h2.supersize strong, h3.supersize strong, .exbd-heading-style-supersize > .block-inner > .exbd-block-title > .block-title strong, .exbd-heading-style-supersize-bold > .block-inner > .exbd-block-title > .block-title strong { font-weight: bold; }
.brand-fonts .supersize, .brand-fonts h2.supersize, .brand-fonts h3.supersize, .brand-fonts .exbd-heading-style-supersize > .block-inner > .exbd-block-title > .block-title, .brand-fonts .exbd-heading-style-supersize-bold > .block-inner > .exbd-block-title > .block-title { font-weight: 100; }
.brand-fonts .supersize strong, .brand-fonts h2.supersize strong, .brand-fonts h3.supersize strong, .brand-fonts .exbd-heading-style-supersize > .block-inner > .exbd-block-title > .block-title strong, .brand-fonts .exbd-heading-style-supersize-bold > .block-inner > .exbd-block-title > .block-title strong { font-weight: 750; font-family: "Neue Helvetica W05", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.exbd-heading-style-supersize-bold > .block-inner > .exbd-block-title > .block-title { font-weight: 750; font-family: "Neue Helvetica W05", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.breadcrumb { font-size: 85%; margin: 0; padding: 0; }
@media screen and (max-width: 768px) { .breadcrumb { font-size: 75%; } }

em { font-style: italic; }

code { font-family: monospace; font-size: 85%; }

pre { white-space: pre-wrap; }

h1 + pre, h2 + pre, h3 + pre, h4 + pre, h5 + pre, h6 + pre { margin-top: -30px; }

.messages .element-invisible + pre { margin-top: 0; margin-bottom: 0; }

.field-type-text-with-summary > *:last-child, .field-type-text-long > *:last-child { margin-bottom: 0; }

/** List styles */
ol { list-style: decimal; }

ul { list-style: disc; }

ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }

.item-list ul li, .field-type-text-with-summary ul li, .field-type-text-long ul li { list-style: disc; margin-bottom: 10px; }
.item-list ul ul li, .item-list ul ul ul ul li, .item-list ul ul ul ul ul ul li, .field-type-text-with-summary ul ul li, .field-type-text-with-summary ul ul ul ul li, .field-type-text-with-summary ul ul ul ul ul ul li, .field-type-text-long ul ul li, .field-type-text-long ul ul ul ul li, .field-type-text-long ul ul ul ul ul ul li { list-style: circle; }
.item-list ul ul ul li, .item-list ul ul ul ul ul li, .item-list ul ul ul ul ul ul ul li, .field-type-text-with-summary ul ul ul li, .field-type-text-with-summary ul ul ul ul ul li, .field-type-text-with-summary ul ul ul ul ul ul ul li, .field-type-text-long ul ul ul li, .field-type-text-long ul ul ul ul ul li, .field-type-text-long ul ul ul ul ul ul ul li { list-style: disc; }
.item-list ul ul, .item-list ol ol, .field-type-text-with-summary ul ul, .field-type-text-with-summary ol ol, .field-type-text-long ul ul, .field-type-text-long ol ol { margin: 10px 0 0 0; }
.item-list ol li, .field-type-text-with-summary ol li, .field-type-text-long ol li { margin: 0 0 10px 0; }

.node ol, .node ul, ul, ol { padding-left: 1.5em; }

.node ul.inline, .node ol.inline, ul.inline, ol.inline { padding-left: 0; }

ul.list-style-none, ul.list-style-nobullet, ul.unstyled { list-style: none; list-style-image: none; padding-left: 0; }

ul.list-style-none > li, ul.list-style-nobullet > li, ul.unstyled li { list-style: none; list-style-image: none; }

ul.list-style-underline > li { list-style: none; }

ul.list-style-underline { list-style: none; list-style-image: none; padding-left: 0; }

ul.list-style-underline > li { list-style: none; border-bottom: 1px solid rgba(128, 128, 128, 0.333); padding-bottom: 10px; margin-bottom: 10px; }

ul.list-style-border { list-style: none; list-style-image: none; padding-left: 0; border-top: 1px solid rgba(128, 128, 128, 0.333); }

ul.list-style-border > li { list-style: none; border: 1px solid rgba(128, 128, 128, 0.333); border-top: none; padding: 10px; margin-bottom: 0; }

ul.list-style-icon-1, ul.list-style-icon-2, ul.list-style-icon-3, ul.list-style-icon-4, ul.list-style-icon-5, ul.list-style-icon-6, ul.list-style-icon-check, ul.list-style-icon-checkbox, ul.list-style-icon-angle-double, ul.list-style-icon-circle-arrow, ul.list-style-icon-star, ul.list-style-icon-finger { list-style: none; list-style-image: none; overflow: hidden; }
ul.list-style-icon-1 > li, ul.list-style-icon-2 > li, ul.list-style-icon-3 > li, ul.list-style-icon-4 > li, ul.list-style-icon-5 > li, ul.list-style-icon-6 > li, ul.list-style-icon-check > li, ul.list-style-icon-checkbox > li, ul.list-style-icon-angle-double > li, ul.list-style-icon-circle-arrow > li, ul.list-style-icon-star > li, ul.list-style-icon-finger > li { list-style: none !important; list-style-image: none !important; position: relative; }
ul.list-style-icon-1 li:before, ul.list-style-icon-2 li:before, ul.list-style-icon-3 li:before, ul.list-style-icon-4 li:before, ul.list-style-icon-5 li:before, ul.list-style-icon-6 li:before, ul.list-style-icon-check li:before, ul.list-style-icon-checkbox li:before, ul.list-style-icon-angle-double li:before, ul.list-style-icon-circle-arrow li:before, ul.list-style-icon-star li:before, ul.list-style-icon-finger li:before { font-family: "Font Awesome 5 Free", "FontAwesome"; position: absolute; top: 0; left: -20px; color: #cfb87c; }

ul.list-style-icon-1 > li:before, ul.list-style-icon-check > li:before { content: '\f00c'; font-weight: 900; }

ul.list-style-icon-2 > li:before, ul.list-style-icon-checkbox > li:before { content: '\f14a'; font-weight: 900; }

ul.list-style-icon-3 > li:before, ul.list-style-icon-angle-double > li:before { content: '\f101'; font-weight: 900; }

ul.list-style-icon-4 > li:before, ul.list-style-icon-circle-arrow > li:before { content: '\f0a9'; font-weight: 900; }

ul.list-style-icon-5 > li:before, ul.list-style-icon-star > li:before { content: '\f005'; font-weight: 900; }

ul.list-style-icon-6 > li:before, ul.list-style-icon-finger > li:before { content: '\f0a4'; font-weight: 900; }

/* ORDERED LIST STYLES */
ol.list-style-alpha-upper, ol.list-style-alpha-upper > li { list-style: upper-alpha; }

ol.list-style-alpha-lower, ol.list-style-alpha-lower > li { list-style: lower-alpha; }

ol.list-style-roman-upper, ol.list-style-roman-upper > li { list-style: upper-roman; }

ol.list-style-roman-lower, ol.list-style-roman-lower > li { list-style: lower-roman; }

ul.list-menu a { display: block; }
ul.list-menu a.active { filter: grayscale(100%); font-weight: bold; }
ul.list-menu ul { margin-bottom: 0; }

ul.list-style-linear { margin: 0 0 20px 0; padding: 0; list-style: none; overflow: hidden; }
ul.list-style-linear > li { list-style: none; float: left; padding-left: 20px; }
ul.list-style-linear > li:first-child { padding-left: 0; }

ul.list-style-linear-dots { margin: 0 0 20px 0; padding: 0; list-style: none; overflow: hidden; }
ul.list-style-linear-dots > li { list-style: none; float: left; padding-left: 8px; }
ul.list-style-linear-dots > li:first-child { padding-left: 0; }
ul.list-style-linear-dots > li:before { content: "•"; padding-right: 8px; }
ul.list-style-linear-dots > li:first-child:before { content: none; padding: 0; }

/*# sourceMappingURL=type.css.map */
