table.cu-block-row-table-example { width: 200px; }
table.cu-block-row-table-example td { border: 3px solid #fff; }

/* contextual links offset */
.block-row-wrapper .block .contextual-links-wrapper { top: 30px; }

.block-row-column .block { margin-bottom: 40px; }

.block-row-inner { display: flex; flex-direction: column; margin: 0 -20px; flex-wrap: wrap; }
.block-row-inner .block-row-column { padding: 0 20px; }

@media screen and (min-width: 768px) { .block-row-inner { flex-direction: row; }
  .block-row-match-height { display: flex; flex-direction: row; margin: 0 -20px; }
  .block-row-match-height .block-row-column { display: flex; justify-content: stretch; flex-direction: column; padding: 0 20px; }
  .block-row-match-height .block-row-column .block:only-child { flex: 1; display: flex; justify-content: stretch; flex-direction: column; }
  .block-row-match-height .block-row-column .block .block-inner { flex: 1; display: flex; justify-content: stretch; flex-direction: column; } }
/* Default Widths */
.block-row-inner .block-row-column { width: 100%; }

@media screen and (min-width: 768px) { /* 2 columns */
  .block-row-columns-2 .block-row-column { width: 50%; }
  .block-row-distribution-right.block-row-columns-2 .block-row-column, .block-row-distribution-left.block-row-columns-2 .block-row-column { width: 33.3333%; }
  .block-row-distribution-left.block-row-columns-2 .block-row-column-1 { width: 66.6666%; }
  .block-row-distribution-right.block-row-columns-2 .block-row-column-2 { width: 66.6666%; }
  /* 3 Columns */
  .block-row-columns-3 .block-row-column { width: 33.3333%; }
  .block-row-distribution-right.block-row-columns-3 .block-row-column, .block-row-distribution-left.block-row-columns-3 .block-row-column { width: 33.3333%; }
  .block-row-distribution-left.block-row-columns-3 .block-row-column-1 { width: 33.3333%; }
  .block-row-distribution-right.block-row-columns-3 .block-row-column-3 { width: 33.3333%; }
  /* 4 Columns */
  .block-row-columns-4 .block-row-column { width: 50%; }
  .block-row-distribution-right.block-row-columns-4 .block-row-column, .block-row-distribution-left.block-row-columns-4 .block-row-column { width: 50%; }
  .block-row-distribution-left.block-row-columns-4 .block-row-column-1 { width: 50%; }
  .block-row-distribution-right.block-row-columns-4 .block-row-column-4 { width: 50%; }
  /* 5 Columns */
  .block-row-columns-5 .block-row-column { width: 33.3333%; }
  .block-row-distribution-right.block-row-columns-5 .block-row-column, .block-row-distribution-left.block-row-columns-5 .block-row-column { width: 33.3333%; }
  .block-row-distribution-left.block-row-columns-5 .block-row-column-1 { width: 33.3333%; }
  .block-row-distribution-right.block-row-columns-5 .block-row-column-5 { width: 33.3333%; }
  /* 6 Columns */
  .block-row-columns-6 .block-row-column { width: 33.3333%; }
  .block-row-distribution-right.block-row-columns-6 .block-row-column, .block-row-distribution-left.block-row-columns-6 .block-row-column { width: 14.2857%; }
  .block-row-distribution-left.block-row-columns-6 .block-row-column-1 { width: 28.5714%; }
  .block-row-distribution-right.block-row-columns-6 .block-row-column-6 { width: 28.5714%; } }
@media screen and (min-width: 960px) { /* 2 columns */
  .block-row-columns-2 .block-row-column { width: 50%; }
  .block-row-distribution-right.block-row-columns-2 .block-row-column, .block-row-distribution-left.block-row-columns-2 .block-row-column { width: 33.3333%; }
  .block-row-distribution-left.block-row-columns-2 .block-row-column-1 { width: 66.6666%; }
  .block-row-distribution-right.block-row-columns-2 .block-row-column-2 { width: 66.6666%; }
  /* 3 Columns */
  .block-row-columns-3 .block-row-column { width: 33.3333%; }
  .block-row-distribution-right.block-row-columns-3 .block-row-column, .block-row-distribution-left.block-row-columns-3 .block-row-column { width: 25%; }
  .block-row-distribution-left.block-row-columns-3 .block-row-column-1 { width: 50%; }
  .block-row-distribution-right.block-row-columns-3 .block-row-column-3 { width: 50%; }
  /* 4 Columns */
  .block-row-columns-4 .block-row-column { width: 25%; }
  .block-row-distribution-right.block-row-columns-4 .block-row-column, .block-row-distribution-left.block-row-columns-4 .block-row-column { width: 20%; }
  .block-row-distribution-left.block-row-columns-4 .block-row-column-1 { width: 40%; }
  .block-row-distribution-right.block-row-columns-4 .block-row-column-4 { width: 40%; }
  /* 5 Columns */
  .block-row-columns-5 .block-row-column { width: 20%; }
  .block-row-distribution-right.block-row-columns-5 .block-row-column, .block-row-distribution-left.block-row-columns-5 .block-row-column { width: 16.6666%; }
  .block-row-distribution-left.block-row-columns-5 .block-row-column-1 { width: 33.3333%; }
  .block-row-distribution-right.block-row-columns-5 .block-row-column-5 { width: 33.3333%; }
  /* 6 Columns */
  .block-row-columns-6 .block-row-column { width: 16.6666%; }
  .block-row-distribution-right.block-row-columns-6 .block-row-column, .block-row-distribution-left.block-row-columns-6 .block-row-column { width: 14.2857%; }
  .block-row-distribution-left.block-row-columns-6 .block-row-column-1 { width: 28.5714%; }
  .block-row-distribution-right.block-row-columns-6 .block-row-column-6 { width: 28.5714%; } }
