@import "modules/global";
@import "modules/colors";
@import "modules/functions";

/**
 * Branding styles
 */

 #print-header {
   display: none;
 }

 // Banner Colors
 .banner-white #header-wrapper{
   background: $white;
   color:$text-black;
   a:link, a:visited, a:hover {
     color:$text-black;
   }
   .menu-toggle {
     button {
       color:$text-black;
       border-color: rgba(128,128,128,.5);
     }
   }
   a.search-toggle:link,
   a.search-toggle:visited {
     color:$text-black;
   }
 }
 .banner-light #header-wrapper {
   background: $gray-light;
   color:$text-black;
   a:link, a:visited, a:hover {
     color:$text-black;
   }
   .menu-toggle {
     button {
       color:$text-black;
       border-color: rgba(128,128,128,.5);
     }
   }
   a.search-toggle:link,
   a.search-toggle:visited {
     color:$text-black;
   }
 }
 .banner-dark #header-wrapper {
   background: $gray-dark;
   color:$white;
   a:link, a:visited, a:hover {
     color:$white;
   }
   .menu-toggle {
     button {
       color:$white;
       border-color: rgba(128,128,128,.5);
     }
   }
   a.search-toggle:link,
   a.search-toggle:visited {
     color:$white;
   }
 }
 .banner-black #header-wrapper {
   background: $black;
   color:$white;
   a:link, a:visited, a:hover {
     color:$white;
   }
   .menu-toggle {
     button {
       color:$white;
       border-color: rgba(128,128,128,.5);
     }
   }
   a.search-toggle:link,
   a.search-toggle:visited {
     color:$white;
   }
 }
 #header-wrapper {
   padding: 20px 0;
 }


 #branding {
   position: relative;
 }






 #cu-footer {
   font-size: 90%;
   img {
     max-width: 240px;
     width: 100%;
     height: auto;
     display: block;
   }
 }




 /* NEW BRANDING */

 .brand-bar {
   background: #fff;
   color:#fff;
   padding:10px 0px;
   a:link,
   a:visited {
     color:#fff;
   }
   // margin-bottom: -15px;
 }
 .brand-bar-container {

   display:flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
   width:100%;

   .brand-logo img {
     width:100%;
     max-width: 240px;
     height: auto;
     display: block;
     @media screen and (min-width:768px) {
       & {
         max-width:240px;
         // margin:5px 0;
       }
     }
   }
 }
 #header-wrapper {
   background: $white;
   color:$text-black;
 }
 header {
   position: relative;
   display:flex;
   align-items:center;
   .site-name-wrapper {
     flex-grow: 1;
     font-size:20px;
     @media screen and (min-width:768px) {
       & {
         font-size: 30px;
       }
     }
   }
 }
 .site-name {
   font-weight: 900;

   padding:0;
   margin: 0;
   line-height: 1.1;
 }

 .affiliation {
   text-transform:uppercase;
   font-size:50%;

   padding-top:5px;
   font-weight: bold;
   .banner-black #header-wrapper &,
   .banner-black #header-wrapper & a:link,
   .banner-black #header-wrapper & a:visited {
     color:#aaa;
   }
   .banner-dark #header-wrapper &,
   .banner-dark #header-wrapper & a:link,
   .banner-dark #header-wrapper & a:visited {
     color:#9b9b9b;
   }
   .banner-white #header-wrapper &,
   .banner-white #header-wrapper & a:link,
   .banner-white #header-wrapper & a:visited {
     color:#757575;
   }
   .banner-light #header-wrapper &,
   .banner-light #header-wrapper & a:link,
   .banner-light #header-wrapper & a:visited {
     color:#6e6e6e;
   }
 }
 .site-name-inner {
   padding-right:40px;
 }
 .layout-responsive .menu-toggle {
   //top:0;
   button {
     background:none;
     border:none;
     padding:0;
   }
 }

 /* Custom Logo */
 img.custom-logo {
   width:100%;
   //max-width:500px !important;
   height: auto;
   display: block;
 }
 .banner-white,
 .banner-light {
   .custom-logo-black {
     display: block;
   }
   .custom-logo-white {
     display: none;
   }
 }
 .banner-black,
 .banner-dark {
   .custom-logo-white {
     display: block;
   }
   .custom-logo-black {
     display: none;
   }
 }

// Site Information
 #block-cu-site-info-site-info h2.block-title a {
   color: $cugold;
   text-decoration: none;
   &:hover {
     color:#fff;
   }
 }

 #cu-footer {
   a.cu-boulder-homepage-link {
     color: $cugold;
     text-decoration: none;
     &:hover {
       color:#fff;
     }
   }
 }
