@import "modules/global";
@import "modules/colors";
@import "modules/functions";

/**
 * Color styles
 */

 @each $name, $color in $all_colors {
   .background-#{$name},
   .exbd-block.exbd-style-#{$name} {
     background-color: $color;
     color: set-text-color($color);
     a:link,
     a:visited {
       color: set-link-color($color);
       //text-decoration-color: rgba(set-link-color($color), .65);
       //-webkit-text-decoration-color: rgba(set-link-color($color), .65);
     }
     a:hover,
     a:active,
     a:focus {
       color: set-link-hover-color($color);
       //text-decoration-color: rgba(set-link-hover-color($color), .65);
       //-webkit-text-decoration-color: rgba(set-link-hover-color($color), .65);
     }
   }
   .exbd-block.exbd-style-#{$name} {
     padding:10px;
    @media screen and (min-width:960px) {
      padding:20px;
    }
    //color:#fff;
    & > *:last-child {
      margin-bottom: 0;
    }
   }
   .text-#{$name} {
     color: $color !important;
   }
 }

 @for $i from 1 through 9 {
  .background-gray-#{$i}00 {
    $color: darken(#fff, $i * 10);
    background: $color;
    color: set-text-color($color);
    a:link,
    a:visited {
      color: set-link-color($color);
      //text-decoration-color: rgba(set-link-color($color), .65);
      //-webkit-text-decoration-color: rgba(set-link-color($color), .65);
    }
    a:hover,
    a:active,
    a:focus {
      color: set-link-hover-color($color);
      //text-decoration-color: rgba(set-link-hover-color($color), .65);
      //-webkit-text-decoration-color: rgba(set-link-hover-color($color), .65);
    }
  }
}
