@import "modules/global";
@import "modules/colors";
@import "modules/functions";


/**
 * Print Only
 */
#print-site-name {
  display: none;
}
/**
 * Contextual Links
 */
ul.contextual-links li a:link,
ul.contextual-links li a:visited {
  text-decoration: none !important;
}
/**
 * Express/Drupal specific styles
 */

 // Navigation menu order
 #navigation-wrapper {
   display: flex;
   flex-direction: column-reverse;
   // Make sure navigation elements will be above other elements.
   z-index:100;
 }

.section {
  position: relative;
  z-index: inherit;
}
 .site-name-inner {

 }
 .layout-responsive .menu-toggle {
   //top:0;
   button {
     background:none;
     border:none;
     padding:0;
   }
 }

 /* Custom Logo */
 img.custom-logo,
 img.cu-custom-logo {
   width:100%;
   //max-width:500px !important;
   height: auto;
   display: block;
 }
 .banner-white,
 .banner-light {
   .custom-logo-black {
     display: block;
   }
   .custom-logo-white {
     display: none;
   }
 }
 .banner-black,
 .banner-dark {
   .custom-logo-white {
     display: block;
   }
   .custom-logo-black {
     display: none;
   }
 }


.main-content-wrapper {
  padding:$spacing 0 !important;
}

html.js input.form-autocomplete {
  background-image: url(../images/autocomplete.gif);
  background-position: 98% 45%;
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-image: url(../images/throbber.gif);
  background-position: 98% 45%;
  background-repeat: no-repeat;
}


// Site Information
 #block-cu-site-info-site-info h2.block-title a {
   color: $cugold;
   text-decoration: none;
   &:hover {
     color:#fff;
   }
 }

 #cu-footer {
   font-size: 90%;
   img {
     max-width: 240px;
     width: 100%;
     height: auto;
     display: block;
   }
   a.cu-boulder-homepage-link {
     color: $cugold;
     text-decoration: none;
     &:hover {
       color:#fff;
     }
   }
 }

 // Sport Club Branding
 .express-site-type-sport_club .site-name-wrapper {
   background-image:url(../images/cu-buffs-logo.png);
   background-repeat:no-repeat;
   background-position: left center;
   background-size: 30px 22px;
   padding-left:40px;
   min-height: 22px;
   @media screen and (min-width: 768px) {
     background-size: 45px 33px;
     padding-left:55px;
     min-height: 33px;
   }
 }

 // Mega Menu
 #navigation {
   position: relative;
   nav {
     display:flex;
     flex-direction: row;
     justify-content: space-between;
   }

 }
 li.mega-menu-link {
   //position: relative;
   .navigation-wrapper & .mega-menu-wrapper {
     position: absolute;
     top:100%;
     z-index: 100;
     width:100%;
   }
   .mega-menu-wrapper {
     display: none;

     ul, li {
       display: block;
       padding: 0;
       a {
         //padding:5px 0;
         display: block;
       }
     }

     ul {
       margin: 0;
     }
     li {
       margin: 0 0 10px 0;
       &:last-child {
         margin:0;
       }
     }

     .field-name-field-mega-menu-link-desc {
       font-size: 75%;
     }
   }
 }
 a.mega-menu-link:after {
   content: '\f107';
   font-family: $fontawesome;
   margin-left:5px;
   opacity: .5;
   font-size: 75%;
   line-height: 1;
 }

 // Content Regions
 @media screen and (min-width:$breakpoint_medium) {
  .region-content-sidebar-right {
     width: 50%;
    float: right;
    padding-left: 20px;
  }
  .region-content-sidebar-left {
    width: 50%;
    float: left;
    padding-right: 20px;
  }
}

/* generic view modes */
.node-view-mode-teaser {
  margin-bottom:20px;
  border-bottom:1px solid $border;
  padding-bottom: 20px;
}
.node-view-mode-teaser-content {
  overflow: hidden;
}
.node-view-mode-title a {
  display: block;
  padding: 5px 0;
}
.node-summary {
  padding:5px 0 20px;
}
.node-summary .more-link {
  white-space: nowrap;
}
.node-summary .more-link:before {
  content: " ";
}

.node-view-mode-sidebar {
  margin-bottom: 10px;
  padding-bottom:10px;
  border-bottom:1px solid $border;
}
.list-node-list li:last-child .node-view-mode-sidebar {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.node-view-mode-sidebar-content {
  @include clearfloats;
  overflow: hidden;
}
.node-view-mode-embed {
  margin-bottom:20px;
  border-bottom:1px solid $border;
  padding-bottom: 20px;
}

.cu-box {
  overflow:hidden;
}

// Non-responsive layout

.layout-fixed .mobile-menu-toggle {
  display: none !important;
}

/* Responsive Preview */


.responsive-notice {
  display: none;
}
.responsive-preview-frame {
  .tabs,
  .express-messages {
    display: none;
  }
}
.responsive-preview-frame .responsive-notice {
  padding:20px;
  display: block;
  background: #f2f2f2;
  color:#333 !important;
  border-bottom:1px solid #222;
  font-size:85%;
  p {
    margin-bottom: 10px;
  }
  a {
    display: inline-block;
    padding:5px 10px;
    color:#fff;
    background-color: #0277BD;
  }
}

// Unpublished nodes

.node-unpublished #main-content-wrapper {
  background:$red-light;
}
