@import "modules/global";
@import "modules/colors";
@import "modules/functions";

/**
 * Helper classes.
 */

// Shadows
$sizes: (
  "small" : 5px,
  "medium" : 10px,
  "large" : 20px,
);

@each $name, $size in $sizes {
  .shadow-#{$name} {
    @include rgbashadow(0, 0, $size, #000, .2);
  }
}

// Underlines
.no-underline a,
a.no-underline {
  text-decoration: none !important;
}

// Padding
.padding-none {
  padding: 0px !important;
}
.padding-none-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.padding-none-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.padding,
.padding-medium {
  padding: $spacing;
}
.padding-small {
  padding: $spacing/2;
}
.padding-large {
  padding: $spacing*2;
}
$directions: (
  "top",
  "bottom",
  "left",
  "right",
);
 @each $direction in $directions {
   .padding-#{$direction},
   .padding-medium-#{$direction} {
     padding-#{$direction}: $spacing;
   }
   .padding-small-#{$direction} {
     padding-#{$direction}: $spacing/2;
   }
   .padding-large-#{$direction} {
     padding-#{$direction}: $spacing*2;
   }
 }

.padding-horizontal,
.padding-horizontal-medium {
  padding-left: $spacing;
  padding-right: $spacing;
}
.padding-horizontal-small {
  padding-left: $spacing/2;
  padding-right: $spacing/2;
}
.padding-horizontal-large {
  padding-left: $spacing*2;
  padding-right: $spacing*2;
}

.padding-vertical,
.padding-vertical-medium {
  padding-top: $spacing;
  padding-bottom: $spacing;
}
.padding-vertical-small {
  padding-top: $spacing/2;
  padding-bottom: $spacing/2;
}
.padding-vertical-large {
  padding-top: $spacing*2;
  padding-bottom: $spacing*2;
}

// Borders
.border {
  border:1px solid $border;
}
.border-top {
  border-top:1px solid $border;
}
.border-bottom {
  border-bottom:1px solid $border;
}
.border-left {
  border-left:1px solid $border;
}
.border-right {
  border-right:1px solid $border;
}

// Margins
.margin-top {
  margin-top: $spacing;
}
.margin-bottom {
  margin-bottom: $spacing;
}
.margin-left {
  margin-left: $spacing;
}
.margin-right {
  margin-right: $spacing;
}
.margin-none {
  margin: 0 !important;
}
.margin-none-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.margin-none-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// Alignment
.align-left {
  float: left;
}
.align-right {
  float: right;
}

// Text Sizing
.text-magnify {
  font-size:115%;
}
.text-minify {
  font-size:85%;
}

.element-invisible {
  @include element-invisible;
}
.clearfloats {
  @include clearfloats;
}

.display-inline {
  display: inline;
}
.text-center {
  text-align: center;
}

// Equal Height Row Contents

.row.equal-height {
  & > * {
    display:flex;
  }
}

// No Wrap
.nowrap {
  white-space: nowrap;
}

// Text
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}


/* Visibility */

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .visible-sm {
    display: block !important;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}

.invisible-xs,
.invisible-sm,
.invisible-md,
.invisible-lg {
  display:block;
  &.display-inline-block {
    display: inline-block;
  }
  &.display-inline {
    display: inline;
  }
}

@media screen and (max-width: $breakpoint_tablet - 1) {
  .invisible-xs {
    @include element-invisible;
  }
}
@media screen and (min-width: $breakpoint_tablet ) and (max-width: $breakpoint_desktop - 1) {
  .invisible-sm {
    @include element-invisible;
  }
}
@media screen and (min-width: $breakpoint_desktop ) and (max-width: $breakpoint_xlarge - 1) {
  .invisible-md {
    @include element-invisible;
  }
}

@media screen and (min-width: $breakpoint_xlarge ) {
  .invisible-lg {
    @include element-invisible;
  }
}

// Background Images
.background-image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
