@import "modules/global";
@import "modules/colors";
@import "modules/functions";

/**
 * Helper classes.
 */

// Underlines
.no-underline a,
a.no-underline {
  text-decoration: none !important;
}

// Padding
.padding,
.padding-medium {
  padding: $spacing;
}
.padding-small {
  padding: $spacing/2;
}
.padding-large {
  padding: $spacing*2;
}
// Borders
.border {
  border:1px solid $border;
}
.border-top {
  border-top:1px solid $border;
}
.border-bottom {
  border-bottom:1px solid $border;
}
.border-left {
  border-left:1px solid $border;
}
.border-right {
  border-right:1px solid $border;
}

// Margins
.margin-top {
  margin-top: $spacing;
}
.margin-bottom {
  margin-bottom: $spacing;
}

// Text Sizing
.text-magnify {
  font-size:115%;
}
.text-minify {
  font-size:85%;
}

.element-invisible {
  @include element-invisible;
}
.clearfloats {
  @include clearfloats;
}

.display-inline {
  display: inline;
}
