#search,
#mobile-search {

  display: none;
  background:$black;
  color:$white;
  .block {
    margin-bottom: 0;
  }
  .block-google-appliance {
    // float: right;
  }
  .search-options {
    padding: 10px 0;
  }
  input.form-text {
    font-size: 12px;
    // line-height: 100%;
  }
  .search-form-wrapper {
    padding: 20px 0;
  }
  .search-wrapper {
    padding:20px;
  }
  .culinks {
    display: none;
  }
  .cu-search {
    display: flex;
    flex-direction:row;

    .form-item-search-keys {
      flex-grow: 1;
    }
    .form-item, .form-actions {
      margin: 0;
    }
    input.form-text {
      width:100%;
      //max-width:320px;
      line-height: 40px;
      height:40px;
      padding:0 8px;
      background-color: #fff;
      -webkit-appearance: none;
      border:none;
    }
    .form-submit {
      line-height: 40px;
      height: 40px;
      background: $cugold;
      color:#000;
      padding: 0 8px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: none;
      -webkit-appearance: none;
      display: block;
      margin:0;
    }
  }
}
#mobile-search {
  display: block;
  padding:20px 20px;
  .cu-search input.form-text {
    width: 100%;
  }
}

// Search Toggle
.search-toggle {
  display: none;
  padding:10px;
  float: right;
  font-size: 110%;
  color:#202020;

  .brand-color-white &,
  .brand-bar-reverse &,
  .brand-bar-dark &,
  .brand-bar-black & {
    color:#fff;
  }
}
@media screen and (min-width:960px) {
  .search-toggle {
    display: inline-block;
  }
}
